.advantages__wrap
  .advantages__item.wow
    h3.advantages__title Мин.отрез 0,5 метра
      //- +icon('ico-scissors')
      img(src="img/scissors.svg")
    p.advantages__descr Идеально для рукоделия или на пробу
      //+icon('ico-')
      img(src="img/wave-pink.svg")
  .advantages__item.wow(data-animation-delay=".1s")
    h3.advantages__title Высокое качество
      +icon('ico-medal')
      //img(src="img/medal.svg")
    p.advantages__descr Работаем напрямую с производителями тканей
      //+icon('ico-')
      img(src="img/wave-pink.svg")
  .advantages__item.wow(data-animation-delay=".2s")
    h3.advantages__title Удобная доставка
      +icon('ico-truck')
      //img(src="img/truck.svg")
    p.advantages__descr Курьер, самовывоз, почта – от 130 руб.
      //+icon('ico-')
      img(src="img/wave-pink.svg")
  .advantages__item.wow(data-animation-delay=".3s")
    h3.advantages__title Безопасная оплата
      +icon('ico-card')
      //img(src="img/card.svg")
    p.advantages__descr Онлайн-чек сразу после оплаты по e-mail или в sms
      //+icon('ico-')
      img(src="img/wave-pink.svg")
  .advantages__item.wow(data-animation-delay=".4s")
    h3.advantages__title Оптовые цены от 10 м
      +icon('ico-action')
      //img(src="img/action.svg")
    p.advantages__descr Выгодное предложение при заказе оптом
      //+icon('ico-')
      img(src="img/wave-pink.svg")
