// EXAPMLES
section.examples
  .container
    h2.examples__title.wow Образцы тканей
    h3.examples__subtitle.wow(data-animation-delay=".2s") Если вы сомневаетесь в плотности ткани или хотели бы посмотреть на цвет ткани "в живую", то специально для Вас у нас действует специальный сервис - "Заказ образца"
    .examples__wrap(jsExamplesSlider)
      // item
      a.examples__item(href="#").wow
        .examples__photo
          img(src="img/example1.png")
          button.examples__btn(type="button")
            //img(src="img/bag.svg")
            +icon('ico-bag')
        h3.examples__item-title Каталог образцов тканей
        .examples__size 10x10 см
        .examples__price 600
          +icon('ico-ruble')
      // item
      a.examples__item(href="#").wow
        .examples__photo
          img(src="img/example2.png")
          button.examples__btn(type="button")
            //img(src="img/bag.svg")
            +icon('ico-bag')
        h3.examples__item-title Каталог образцов цветных шелковых тканей
        .examples__size 10x10 см
        .examples__price 500
          +icon('ico-ruble')
      // item
      a.examples__item(href="#").wow
        .examples__photo
          img(src="img/example3.png")
          button.examples__btn(type="button")
            //img(src="img/bag.svg")
            +icon('ico-bag')
        h3.examples__item-title Каталог образцов по применению
        .examples__size 10x10 см
        .examples__price 400
          +icon('ico-ruble')
      // item
      a.examples__item(href="#").wow
        .examples__photo
          img(src="img/example4.png")
          button.examples__btn(type="button")
            //img(src="img/bag.svg")
            +icon('ico-bag')
        h3.examples__item-title Образцы волокон и нитей
        .examples__size 10x10 см
        .examples__price 300
          +icon('ico-ruble')
        
