// FOOTER :: START
footer.footer
  .container
    .footer__topbar
      .footer__item
        h3.footer__subtitle Каталог
        ul
          li
            a.footer__link(href="#") Для шитья
          li
            a.footer__link(href="#") Для росписи
          li
            a.footer__link(href="#") Для валяния
          li
            a.footer__link(href="#") Для лент и декора
          li
            a.footer__link(href="#") Для цветов
      .footer__item
        h3.footer__subtitle Информация
        ul
          li
            a.footer__link(href="#") Контакты
          li
            a.footer__link(href="#") О компании
          li
            a.footer__link(href="#") Блог
          li
            a.footer__link(href="#") Оптовым покупателям
          li
            a.footer__link(href="#") Публичная оферта
      .footer__item
        h3.footer__subtitle Сервис
        ul
          li
            a.footer__link(href="#") Как оформить заказ?
          li
            a.footer__link(href="#") Оплата и доставка
          li
            a.footer__link(href="#") Дисконтная система
          li
            a.footer__link(href="#") Обмен / возврат
      .footer__item
        h3.footer__subtitle Помощь
        ul
          li
            a.footer__link(href="#") Уход за тканями
          li
            a.footer__link(href="#") FAQ
          li
            a.footer__link(href="#") Конфиденциальность
      .footer__item.footer__item--contacts
        a.footer__tel(href="tel:88005059543") 8 (800) 505-95-43
        span.footer__time По будням с 10 до 18
        a.footer__mail(href="mailto:silk@mashe-shop.ru") silk@mashe-shop.ru
        .footer__socials
          a.footer__fb(href="#")
            +icon('ico-fb')
            //img(src="img/fb.svg")
          a.footer__vk(href="#")
            +icon('ico-vk')
            //img(src="img/vk.svg")
          a.footer__inst(href="#")
            +icon('ico-inst')
            //img(src="img/inst.svg")
    .footer__bottombar
      .footer__copy © 2018 Mashe-shop.ru. Все права защищены.  ИП Томашова М. В. ОГРНИП: 314784710700753
      a.footer__dev(href="#") Made by
        +icon('ico-dev-icon')
      
// FOOTER :: END
