// HEADER :: START
header.header#top
  // search panel
  .search-panel
    .search-panel__round
    button.search-panel__close(type="button")
      //img(src="img/close.svg")
      +icon('ico-close')
    form.search-panel__form(action="#")
      //+icon('ico-search')
      input.search-panel__input(type="text" placeholder="Поиск")
      button.search-panel__btn(type="button")
        +icon('ico-search-arrow')
        //img(src="img/search-arrow.svg")
    p.search-panel__hint Чтобы начать поиск, введите описание или артикул
    
  // menu
  nav.main-nav
    .main-nav__round
    .main-nav__wrapper
      button.main-nav__close(type="button")
        //img(src="img/close.svg")
        +icon('ico-close')
      h2.main-nav__title
        span Каталог
      .main-nav__wrap
        input.main-nav__input(type="radio" id="menu-item1" name="menu-item")
        label.main-nav__item(for="menu-item1")
          h3.main-nav__subtitle Для росписи
            +icon('ico-for-paint')
            //img(src="img/for-paint.svg")
        input.main-nav__input(type="radio" id="menu-item2" name="menu-item")
        label.main-nav__item(for="menu-item2")
          h3.main-nav__subtitle Для цветов
            +icon('ico-for-flower')
            //img(src="img/for-flower.svg")
        input.main-nav__input(type="radio" id="menu-item3" name="menu-item")
        label.main-nav__item(for="menu-item3")
          h3.main-nav__subtitle Для валяния
            +icon('ico-for-felt')
            //img(src="img/for-felt.svg")
        input.main-nav__input(type="radio" id="menu-item4" name="menu-item")
        label.main-nav__item(for="menu-item4")
          h3.main-nav__subtitle Для шитья
            +icon('ico-for-stitch')
            //img(src="img/for-stitch.svg")
        input.main-nav__input(type="radio" id="menu-item5" name="menu-item")
        label.main-nav__item(for="menu-item5")
          h3.main-nav__subtitle Для вышивки
            +icon('ico-for-embr')
            //img(src="img/for-embr.svg")
        input.main-nav__input(type="radio" id="menu-item6" name="menu-item")
        label.main-nav__item(for="menu-item6")
          h3.main-nav__subtitle Для декора
            +icon('ico-for-decor')
            //img(src="img/for-decor.svg")
      .main-nav__categories
        input(type="radio" id="category-item1" name="category-item")
        label.main-nav__category(for="category-item1") Все товары / 50
        input(type="radio" id="category-item2" name="category-item")
        label.main-nav__category(for="category-item2") Все ткани / 34
        input(type="radio" id="category-item3" name="category-item")
        label.main-nav__category(for="category-item3") Волокна / 4
        input(type="radio" id="category-item4" name="category-item")
        label.main-nav__category(for="category-item4") Нити / 10
        input(type="radio" id="category-item5" name="category-item")
        label.main-nav__category(for="category-item5") Образцы / 2
      .main-nav__submenu 
        .main-nav__submenu-item
          h3.main-nav__submenu-title Информация
          ul
            li
              a.main-nav__link(href="#") Контакты
            li
              a.main-nav__link(href="#") О компании
            li
              a.main-nav__link(href="#") Блог
            li
              a.main-nav__link(href="#") Оптовым покупателям
            li
              a.main-nav__link(href="#") Публичная оферта
        .main-nav__submenu-item
          h3.main-nav__submenu-title Сервис
          ul
            li
              a.main-nav__link(href="#") Как оформить заказ?
            li
              a.main-nav__link(href="#") Оплата и доставка
            li
              a.main-nav__link(href="#") Дисконтная система
            li
              a.main-nav__link(href="#") Обмен / возврат
        .main-nav__submenu-item
          h3.main-nav__submenu-title Помощь
          ul
            li
              a.main-nav__link(href="#") Уход за тканями
            li
              a.main-nav__link(href="#") FAQ
            li
              a.main-nav__link(href="#") Конфиденциальность
      .main-nav__socials
        a.main-nav__fb(href="#")
          +icon('ico-fb')
          //img(src="img/fb.svg")
        a.main-nav__vk(href="#")
          +icon('ico-vk')
          //img(src="img/vk.svg")
        a.main-nav__inst(href="#")
          +icon('ico-inst')
          //img(src="img/inst.svg")
  
  
  // header
  .header__topbar
    .container
      span Бесплатная доставка первого заказа для новых клиентов!
  .header__mainbar
    a.header__menu(href="#" jsOpenMenu)
      //img(src="img/menu.svg")
      +icon('ico-menu')
    a.header__search(href="#" jsOpenSearch)
      img(src="img/search.svg")
      //+icon('ico-search')
    a.header__cart(href="#")
      //img(src="img/bag.svg")
      +icon('ico-bag')
    a.header__like(href="#")
      //img(src="img/heart.svg")
      +icon('ico-heart')
    .container
      .header__nav
        a.header__link(href="#") Оплата и доставка
        a.header__link(href="#") Скидки
        a.header__link(href="#") Контакты
      a.header__logo(href="/")
        img(src="img/logo-big.svg")
      a.header__logo--mini(href="/")
        img(src="img/logo.svg")
      .header__nav
        a.header__link(href="#") Обратный звонок
        a.header__link.header__link--tel(href="tel:88005059543") 8 800 505-95-43
          span по будням с 10 до 18
        a.header__link(href="#") Вход
        
a.to-top-btn(href="#top")
  +icon('ico-totop')
      
// HEADER :: END
