// HEADER :: START
header.header
  // search panel
  .search-panel
    .search-panel__round
    button.search-panel__close(type="button")
      img(src="img/close.svg")
    form.search-panel__form(action="#")
      input.search-panel__input(type="text" placeholder="Поиск")
      button.search-panel__btn(type="button")
        img(src="img/search-arrow.svg")
    p.search-panel__hint Чтобы начать поиск, введите описание или артикул
    
  // menu
  nav.main-nav
    .main-nav__round
    .main-nav__wrapper
      button.main-nav__close(type="button")
        img(src="img/close.svg")
      h2.main-nav__title
        span Каталог
      .main-nav__wrap
        .main-nav__item
          h3.main-nav__subtitle Для росписи
            img(src="img/for-paint.svg")
        .main-nav__item
          h3.main-nav__subtitle Для цветов
            img(src="img/for-flower.svg")
        .main-nav__item
          h3.main-nav__subtitle Для валяния
            img(src="img/for-felt.svg")
        .main-nav__item
          h3.main-nav__subtitle Для шитья
            img(src="img/for-stitch.svg")
        .main-nav__item
          h3.main-nav__subtitle Для вышивки
            img(src="img/for-embr.svg")
        .main-nav__item
          h3.main-nav__subtitle Для декора
            img(src="img/for-decor.svg")
      .main-nav__categories
        .main-nav__category Все товары / 50
        .main-nav__category Все ткани / 34
        .main-nav__category Волокна / 4
        .main-nav__category Нити / 10
        .main-nav__category Образцы / 2
      .main-nav__submenu 
        .main-nav__submenu-item
          h3.main-nav__submenu-title Информация
          ul
            li
              a.main-nav__link(href="#") Контакты
            li
              a.main-nav__link(href="#") О компании
            li
              a.main-nav__link(href="#") Блог
            li
              a.main-nav__link(href="#") Оптовым покупателям
            li
              a.main-nav__link(href="#") Публичная оферта
        .main-nav__submenu-item
          h3.main-nav__submenu-title Сервис
          ul
            li
              a.main-nav__link(href="#") Как оформить заказ?
            li
              a.main-nav__link(href="#") Оплата и доставка
            li
              a.main-nav__link(href="#") Дисконтная система
            li
              a.main-nav__link(href="#") Обмен / возврат
        .main-nav__submenu-item
          h3.main-nav__submenu-title Помощь
          ul
            li
              a.main-nav__link(href="#") Уход за тканями
            li
              a.main-nav__link(href="#") FAQ
            li
              a.main-nav__link(href="#") Конфиденциальность
      .main-nav__socials
        a.main-nav__fb(href="#")
          img(src="img/fb.svg")
        a.main-nav__vk(href="#")
          img(src="img/vk.svg")
        a.main-nav__inst(href="#")
          img(src="img/inst.svg")
  
  
  // header
  .header__topbar
    .container
      span Бесплатная доставка первого заказа для новых клиентов!
  .header__mainbar
    button.header__menu(type="button" jsOpenMenu)
      img(src="img/menu.svg")
    button.header__search(type="button" jsOpenSearch)
      img(src="img/search.svg")
    button.header__cart(type="button")
      img(src="img/bag.svg")
    button.header__like(type="button")
      img(src="img/heart.svg")
    .container
      .header__nav
        a.header__link(href="#") Оплата и доставка
        a.header__link(href="#") Скидки
        a.header__link(href="#") Контакты
      a.header__logo(href="/")
        img(src="img/logo-big.svg")
      a.header__logo--mini(href="/")
        img(src="img/logo.svg")
      .header__nav
        a.header__link(href="#") Обратный звонок
        a.header__link.header__link--tel(href="tel:88005059543") 8 800 505-95-43
          span по будням с 10 до 18
        a.header__link(href="#") Вход
      
// HEADER :: END
