// NEWSLETTER
section.newsletter
  .container
    .newsletter__wrap
      .newsletter__info.wow(data-animation-class="wowFadeLeft")
        h2.newsletter__title Подпишись на рассылку 
        h3.newsletter__subtitle и всегда будь в курсе наших новостей!
      form.newsletter__form(action="#").wow(data-animation-class="wowFadeRight")
        .newsletter__form-wrap
          input.newsletter__input(type="text" placeholder="Ваш email")
          button.newsletter__btn(type="submit") Подписаться !
          .newsletter__error Неверный формат e-mail
        p.newsletter__text Нажимая на кнопку, вы даете согласие на
          a.newsletter__link(href="#") обработку своих персональных данных
      
