// RECENT ITEMS      
.recent-items
  h2.recent-items__title.wow
    span Вы недавно просматривали
  .recent-items__wrap.wow(jsRecentSlider)
    a.recent-items__item(href="#")
      .recent-items__img
        img(src="img/popular1.jpg")
      h3.recent-items__subtitle Эксельсиор узбекский
      span.recent-items__price 1 260
        +icon('ico-ruble')
    a.recent-items__item(href="#")
      .recent-items__img
        img(src="img/popular2.jpg")
      h3.recent-items__subtitle Атлас стрейч «Deep Pink»
      span.recent-items__price 1 260
        +icon('ico-ruble')
    a.recent-items__item(href="#")
      .recent-items__img
        img(src="img/popular3.jpg")
      h3.recent-items__subtitle Жоржет
      span.recent-items__price 1 260
        +icon('ico-ruble')
    a.recent-items__item(href="#")
      .recent-items__img
        img(src="img/popular1.jpg")
      h3.recent-items__subtitle Эксельсиор узбекский
      span.recent-items__price 1 260
        +icon('ico-ruble')
    a.recent-items__item(href="#")
      .recent-items__img
        img(src="img/popular2.jpg")
      h3.recent-items__subtitle Атлас стрейч «Deep Pink»
      span.recent-items__price 1 260
        +icon('ico-ruble')
    a.recent-items__item(href="#")
      .recent-items__img
        img(src="img/popular3.jpg")
      h3.recent-items__subtitle Жоржет
      span.recent-items__price 1 260
        +icon('ico-ruble')
    a.recent-items__item(href="#")
      .recent-items__img
        img(src="img/popular3.jpg")
      h3.recent-items__subtitle Жоржет
      span.recent-items__price 1 260
        +icon('ico-ruble')
