---
title: 404 || MASHE
bodyClass: nf-page
---
extends shared/_layout
block content


  // FAVORITES SECTION
  section.search-section.nf-section
    .container
      h1.nf-section__title Ошибка
      .nf-section__wrap
        h2.nf-section__subtitle Сожалеем, страница не найдена
        a.nf-section__btn(href="#") На главную
        
  include components/_newsletter