---
title: Cart || MASHE
bodyClass: cart-page
---
extends shared/_layout
block content
  // CART SECTION
  section.cart
    .container
      h1.cart__title.wow Корзина
      form.cart__wrapper(action="#")
        .cart__main.wow
          .cart__header
            .cart__header-name Наименование
            .cart__header-price Цена за метр
            .cart__header-amount Количество (м)
            .cart__header-sum Сумма
            
          // DESKTOP ITEMS  
          .cart__item.wow
            .cart__img
              img(src="img/popular2.jpg")
            .cart__info
              span.cart__articul Арт. АС14016PP
              h2.cart__item-title Атлас стрейч «Magic White»
              p.cart__descr Ширина:
                span 140 см
              p.cart__descr Плотность:
                span 8 м/м ≈ 34 г/м2
            .cart__price
              span 1 350
                +icon('ico-ruble')
            .cart__amount
              .cart__amount-wrap
                button.cart__btn.cart__btn--minus(type="button") -
                input.cart__input(type="text" value="10" readonly)
                button.cart__btn.cart__btn--plus(type="button") +
            .cart__sum
              span 13 500
                del 1 760
                  +icon('ico-ruble')
                +icon('ico-ruble')
            button.cart__del(type="button")
              +icon('ico-close')
          // next
          .cart__item.wow
            .cart__img
              img(src="img/popular3.jpg")
            .cart__info
              span.cart__articul Арт. АС14016PP
              h2.cart__item-title Хаботай 10 мм
              p.cart__descr Ширина:
                span 140 см
              p.cart__descr Плотность:
                span 8 м/м ≈ 34 г/м2
            .cart__price
              span 700
                +icon('ico-ruble')
            .cart__amount
              .cart__amount-wrap
                button.cart__btn.cart__btn--minus(type="button") -
                input.cart__input(type="text" value="2.5" readonly)
                button.cart__btn.cart__btn--plus(type="button") +
            .cart__sum
              span 1 750
                +icon('ico-ruble')
            button.cart__del(type="button")
              +icon('ico-close')
              
          // MOBILE ITEMS
          .cart__item.cart__item--mobile
            .cart__img
              img(src="img/popular2.jpg")
            .cart__middle
              .cart__info
                span.cart__articul Арт. АС14016PP
                h2.cart__item-title Атлас стрейч «Magic White»
                p.cart__descr Ширина:
                  span 140 см
                p.cart__descr Плотность:
                  span 8 м/м ≈ 34 г/м2
              .cart__price
                span 1 350
                  +icon('ico-ruble')
                .cart__header-price Цена за метр
            .cart__last
              .cart__sum
                .cart__header-sum Сумма
                span 13 500
                  del 1 760
                    +icon('ico-ruble')
                  +icon('ico-ruble')
              .cart__amount
                .cart__header-amount Количество (м)
                .cart__amount-wrap
                  button.cart__btn.cart__btn--minus(type="button") -
                  input.cart__input(type="text" value="10" readonly)
                  button.cart__btn.cart__btn--plus(type="button") +
            button.cart__del(type="button")
              +icon('ico-close')
          .cart__item.cart__item--mobile
            .cart__img
              img(src="img/popular3.jpg")
            .cart__middle
              .cart__info
                span.cart__articul Арт. АС14016PP
                h2.cart__item-title Хаботай 10 мм
                p.cart__descr Ширина:
                  span 140 см
                p.cart__descr Плотность:
                  span 8 м/м ≈ 34 г/м2
              .cart__price
                span 700
                  +icon('ico-ruble')
                .cart__header-price Цена за метр
            .cart__last
              .cart__sum
                .cart__header-sum Сумма
                span 1 750
                  +icon('ico-ruble')
              .cart__amount
                .cart__header-amount Количество (м)
                .cart__amount-wrap
                  button.cart__btn.cart__btn--minus(type="button") -
                  input.cart__input(type="text" value="2.5" readonly)
                  button.cart__btn.cart__btn--plus(type="button") +
            button.cart__del(type="button")
              +icon('ico-close')
              
          .cart__promo.wow
            a.cart__back(href="#") Вернуться в каталог
              +icon('ico-arrow-button')
            .cart__promo-wrap
              //input.cart__promo-input(type="text" placeholder="Введите промокод")
              //button.cart__promo-btn(type="button") Применить
              p.cart__promo-text Вы успешно применили промо-код
                +icon('ico-check')
                span Скидка 10%
        .cart__all.wow
          h3.cart__all-title 2 товара в корзине на сумму
          .cart__all-sum 15 250
            del 1 760
              +icon('ico-ruble')
            +icon('ico-ruble')
            span Без стоимости доставки
          .cart__all-sale - 1 750
            +icon('ico-ruble')
            span скидка 10%
          button.cart__all-btn(type="submit" ) Оформить заказ
          //.cart__all-minimun Минимальная сумма заказа
            span 1 000 руб
          .cart__all-free Дополни корзину еще на <span>2 455 руб</span> и мы доставим заказ бесплатно!
            +icon('ico-truck')
          a.cart__back.cart__back--mobile(href="#") Вернуться в каталог
              +icon('ico-arrow-button')
      
      include components/_recent
              
  include components/_newsletter
