---
title: Catalog || MASHE
bodyClass: catalog-page
---
extends shared/_layout
block content
  
  
  // PROMO
  section.catalog-promo
    .container
      .breadcrumbs.wow
        a.breadcrumbs__link(href="#") Главная
        a.breadcrumbs__link.is-active(href="#") Каталог
      h1.catalog-promo__title.wow(data-animation-delay=".1s") Каталог
      form.catalog-promo__sorting(action="#")
        p.catalog-promo__text.wow(data-animation-delay=".2s") Шелк – это роскошная и деликатная ткань, которой восхищались целые столетия. Скользкая и гладкая текстура этой ткани создает некоторые трудности при шитье, что требует особого внимания. Тем не менее, существуют простые техники, которые упростят работу с шелком на любом этапе шитья дома.
        .catalog-promo__mainsort
          input.catalog-promo__input(type="radio" name="catalog-items" id="catalog-item1")
          label.catalog-promo__main-item(for="catalog-item1" data-animation-delay=".25s").wow
            h2.catalog-promo__subtitle Для росписи
              +icon('ico-for-paint')
              //img(src="img/for-paint.svg")
          input.catalog-promo__input(type="radio" name="catalog-items" id="catalog-item2")
          label.catalog-promo__main-item(for="catalog-item2" data-animation-delay=".3s").wow
            h2.catalog-promo__subtitle Для цветов
              +icon('ico-for-flower')
              //img(src="img/for-flower.svg")
          input.catalog-promo__input(type="radio" name="catalog-items" id="catalog-item3")
          label.catalog-promo__main-item(for="catalog-item3" data-animation-delay=".35s").wow
            h2.catalog-promo__subtitle Для валяния
              +icon('ico-for-felt')
              //img(src="img/for-felt.svg")
          input.catalog-promo__input(type="radio" name="catalog-items" id="catalog-item4")
          label.catalog-promo__main-item(for="catalog-item4" data-animation-delay=".4s").wow
            h2.catalog-promo__subtitle Для шитья
              +icon('ico-for-stitch')
              //img(src="img/for-stitch.svg")
          input.catalog-promo__input(type="radio" name="catalog-items" id="catalog-item5")
          label.catalog-promo__main-item(for="catalog-item5" data-animation-delay=".45s").wow
            h2.catalog-promo__subtitle Для вышивки
              +icon('ico-for-embr')
              //img(src="img/for-embr.svg")
          input.catalog-promo__input(type="radio" name="catalog-items" id="catalog-item6")
          label.catalog-promo__main-item(for="catalog-item6" data-animation-delay=".5s").wow
            h2.catalog-promo__subtitle Для декора
              +icon('ico-for-decor')
              //img(src="img/for-decor.svg")
        .catalog-promo__secondsort.wow(data-animation-delay=".6s")
          input(type="radio" name="second-items" id="second-item1")
          label.catalog-promo__second-item(for="second-item1") Все товары / 50
          input(type="radio" name="second-items" id="second-item2" jsTissue)
          label.catalog-promo__second-item(for="second-item2") Ткани / 10
          input(type="radio" name="second-items" id="second-item3")
          label.catalog-promo__second-item(for="second-item3") Волокна / 20
          input(type="radio" name="second-items" id="second-item4")
          label.catalog-promo__second-item(for="second-item4") Нити / 5
          input(type="radio" name="second-items" id="second-item5")
          label.catalog-promo__second-item(for="second-item5") Образцы / 15 
  
  section.sort-items
    .container
      form.sort-items__form(action="#")
        select.sort-items__select(jsSelect)
          option(selected disabled) По ширине  
          option Менее 120 см
          option 120 - 140 см
          option 140 - 160 см
          option Более 180 см
        select.sort-items__select(jsSelect)
          option(selected disabled) По плотности  
          option Пункт 1
          option Пункт 2
        select.sort-items__select(jsSelect)
          option(selected disabled) По цвету  
          option Белая
          option Цветная
        span.sort-items__all Всего: 34 товара
  
  // ITEMS
  section.catalog-items
    .container
      .popular__wrap.wow
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular1.jpg")
            .catalog-item__badge.catalog-item__badge--hit Хит продаж
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Эксельсиор узбекский
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 260
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular2.jpg")
            .catalog-item__badge.catalog-item__badge--new Новинка
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Атлас стрейч «Deep Pink»
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 500
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular1.jpg")
            .catalog-item__badge.catalog-item__badge--hit Хит продаж
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Эксельсиор узбекский
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 260
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular2.jpg")
            .catalog-item__badge.catalog-item__badge--new Новинка
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Атлас стрейч «Deep Pink»
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 500
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        
      .popular__wrap.wow
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular1.jpg")
            .catalog-item__badge.catalog-item__badge--hit Хит продаж
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Эксельсиор узбекский
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 260
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular2.jpg")
            .catalog-item__badge.catalog-item__badge--new Новинка
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Атлас стрейч «Deep Pink»
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 500
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular1.jpg")
            .catalog-item__badge.catalog-item__badge--hit Хит продаж
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Эксельсиор узбекский
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 260
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular2.jpg")
            .catalog-item__badge.catalog-item__badge--new Новинка
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Атлас стрейч «Deep Pink»
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 500
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
            
      // ADVANTAGES      
      include components/_advantages
            
      .popular__wrap.wow
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular1.jpg")
            .catalog-item__badge.catalog-item__badge--hit Хит продаж
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Эксельсиор узбекский
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 260
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular2.jpg")
            .catalog-item__badge.catalog-item__badge--new Новинка
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Атлас стрейч «Deep Pink»
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 500
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular1.jpg")
            .catalog-item__badge.catalog-item__badge--hit Хит продаж
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Эксельсиор узбекский
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 260
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular2.jpg")
            .catalog-item__badge.catalog-item__badge--new Новинка
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Атлас стрейч «Deep Pink»
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 500
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        
      .popular__wrap.wow
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular1.jpg")
            .catalog-item__badge.catalog-item__badge--hit Хит продаж
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Эксельсиор узбекский
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 260
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular2.jpg")
            .catalog-item__badge.catalog-item__badge--new Новинка
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Атлас стрейч «Deep Pink»
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 500
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular1.jpg")
            .catalog-item__badge.catalog-item__badge--hit Хит продаж
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Эксельсиор узбекский
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 260
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular2.jpg")
            .catalog-item__badge.catalog-item__badge--new Новинка
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Атлас стрейч «Deep Pink»
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 500
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
            
      a.catalog-items__btn(href="#").wow Показать еще
            
            
  include components/_examples
              
  // CATALOG INFO
  .catalog-info
    .container
      .catalog-info__wrap
        .catalog-info__descr.wow(data-animation-class="wowFadeLeft")
          h2.catalog-info__title Шелк: виды, свойства, уход за тканью 
          p.catalog-info__text Шёлк – это натуральная ткань, которая не относится к растительному или животному происхождению. Её получают из кокона гусеницы шелкопряда. Но также бывают искусственные и синтетические виды шёлковых полотен. Все они отличаются уникальным блеском, гладкостью и прочностью.
        .catalog-info__photo.wow(data-animation-class="wowFadeRight")
          img(src="img/catalog-info.jpg")
          
  include components/_newsletter
