---
title: Catalog || MASHE
bodyClass: catalog-page
---
extends shared/_layout
block content
  
  
  // PROMO
  section.catalog-promo
    .container
      .breadcrumbs.wow
        a.breadcrumbs__link(href="#") Главная
        a.breadcrumbs__link.is-active(href="#") Каталог
      h1.catalog-promo__title.wow Каталог
      form.catalog-promo__sorting.wow(action="#")
        p.catalog-promo__text Шелк – это роскошная и деликатная ткань, которой восхищались целые столетия. Скользкая и гладкая текстура этой ткани создает некоторые трудности при шитье, что требует особого внимания. Тем не менее, существуют простые техники, которые упростят работу с шелком на любом этапе шитья дома.
        .catalog-promo__mainsort
          input.catalog-promo__input(type="radio" name="catalog-items" id="catalog-item1")
          label.catalog-promo__main-item(for="catalog-item1")
            h2.catalog-promo__subtitle Для росписи
              +icon('ico-for-paint')
              //img(src="img/for-paint.svg")
          input.catalog-promo__input(type="radio" name="catalog-items" id="catalog-item2")
          label.catalog-promo__main-item(for="catalog-item2")
            h2.catalog-promo__subtitle Для цветов
              +icon('ico-for-flower')
              //img(src="img/for-flower.svg")
          input.catalog-promo__input(type="radio" name="catalog-items" id="catalog-item3")
          label.catalog-promo__main-item(for="catalog-item3")
            h2.catalog-promo__subtitle Для валяния
              +icon('ico-for-felt')
              //img(src="img/for-felt.svg")
          input.catalog-promo__input(type="radio" name="catalog-items" id="catalog-item4")
          label.catalog-promo__main-item(for="catalog-item4")
            h2.catalog-promo__subtitle Для шитья
              +icon('ico-for-stitch')
              //img(src="img/for-stitch.svg")
          input.catalog-promo__input(type="radio" name="catalog-items" id="catalog-item5")
          label.catalog-promo__main-item(for="catalog-item5")
            h2.catalog-promo__subtitle Для вышивки
              +icon('ico-for-embr')
              //img(src="img/for-embr.svg")
          input.catalog-promo__input(type="radio" name="catalog-items" id="catalog-item6")
          label.catalog-promo__main-item(for="catalog-item6")
            h2.catalog-promo__subtitle Для декора
              +icon('ico-for-decor')
              //img(src="img/for-decor.svg")
        .catalog-promo__secondsort
          input(type="radio" name="second-items" id="second-item1")
          label.catalog-promo__second-item(for="second-item1") Все товары / 50
          input(type="radio" name="second-items" id="second-item2" jsTissue)
          label.catalog-promo__second-item(for="second-item2") Ткани / 10
          input(type="radio" name="second-items" id="second-item3")
          label.catalog-promo__second-item(for="second-item3") Волокна / 20
          input(type="radio" name="second-items" id="second-item4")
          label.catalog-promo__second-item(for="second-item4") Нити / 5
          input(type="radio" name="second-items" id="second-item5")
          label.catalog-promo__second-item(for="second-item5") Образцы / 15 
  
  section.sort-items
    .container
      form.sort-items__form(action="#")
        select.sort-items__select(jsSelect)
          option(selected disabled) По ширине  
          option Менее 120 см
          option 120 - 140 см
          option 140 - 160 см
          option Более 180 см
        select.sort-items__select(jsSelect)
          option(selected disabled) По плотности  
          option Пункт 1
          option Пункт 2
        select.sort-items__select(jsSelect)
          option(selected disabled) По цвету  
          option Белая
          option Цветная
        span.sort-items__all Всего: 34 товара
  
  // ITEMS
  section.catalog-items
    .container
      .popular__wrap.wow
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular1.jpg")
            .catalog-item__badge.catalog-item__badge--hit Хит продаж
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Эксельсиор узбекский
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 260
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular2.jpg")
            .catalog-item__badge.catalog-item__badge--new Новинка
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Атлас стрейч «Deep Pink»
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 500
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular1.jpg")
            .catalog-item__badge.catalog-item__badge--hit Хит продаж
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Эксельсиор узбекский
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 260
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular2.jpg")
            .catalog-item__badge.catalog-item__badge--new Новинка
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Атлас стрейч «Deep Pink»
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 500
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        
      .popular__wrap.wow
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular1.jpg")
            .catalog-item__badge.catalog-item__badge--hit Хит продаж
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Эксельсиор узбекский
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 260
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular2.jpg")
            .catalog-item__badge.catalog-item__badge--new Новинка
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Атлас стрейч «Deep Pink»
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 500
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular1.jpg")
            .catalog-item__badge.catalog-item__badge--hit Хит продаж
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Эксельсиор узбекский
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 260
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular2.jpg")
            .catalog-item__badge.catalog-item__badge--new Новинка
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Атлас стрейч «Deep Pink»
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 500
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
            
      // ADVANTAGES      
      .advantages__wrap.wow
        .advantages__item
          h3.advantages__title Мин.отрез 0,5 метра
            +icon('ico-scissors')
            //img(src="img/scissors.svg")
          p.advantages__descr Идеально для рукоделия или на пробу
            //+icon('ico-')
            img(src="img/wave-pink.svg")
        .advantages__item
          h3.advantages__title Высокое качество
            +icon('ico-medal')
            //img(src="img/medal.svg")
          p.advantages__descr Работаем напрямую с производителями тканей
            //+icon('ico-')
            img(src="img/wave-pink.svg")
        .advantages__item
          h3.advantages__title Удобная доставка
            +icon('ico-truck')
            //img(src="img/truck.svg")
          p.advantages__descr Курьер, самовывоз, почта – от 130 руб.
            //+icon('ico-')
            img(src="img/wave-pink.svg")
        .advantages__item
          h3.advantages__title Безопасная оплата
            +icon('ico-card')
            //img(src="img/card.svg")
          p.advantages__descr Онлайн-чек сразу после оплаты по e-mail или в sms
            //+icon('ico-')
            img(src="img/wave-pink.svg")
        .advantages__item
          h3.advantages__title Оптовые цены от 10 м
            +icon('ico-action')
            //img(src="img/action.svg")
          p.advantages__descr Выгодное предложение при заказе оптом
            //+icon('ico-')
            img(src="img/wave-pink.svg")
            
      .popular__wrap.wow
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular1.jpg")
            .catalog-item__badge.catalog-item__badge--hit Хит продаж
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Эксельсиор узбекский
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 260
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular2.jpg")
            .catalog-item__badge.catalog-item__badge--new Новинка
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Атлас стрейч «Deep Pink»
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 500
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular1.jpg")
            .catalog-item__badge.catalog-item__badge--hit Хит продаж
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Эксельсиор узбекский
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 260
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular2.jpg")
            .catalog-item__badge.catalog-item__badge--new Новинка
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Атлас стрейч «Deep Pink»
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 500
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        
      .popular__wrap.wow
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular1.jpg")
            .catalog-item__badge.catalog-item__badge--hit Хит продаж
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Эксельсиор узбекский
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 260
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular2.jpg")
            .catalog-item__badge.catalog-item__badge--new Новинка
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Атлас стрейч «Deep Pink»
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 500
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular1.jpg")
            .catalog-item__badge.catalog-item__badge--hit Хит продаж
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Эксельсиор узбекский
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 260
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular2.jpg")
            .catalog-item__badge.catalog-item__badge--new Новинка
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Атлас стрейч «Deep Pink»
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 500
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
            
      a.catalog-items__btn(href="#") Показать еще
            
            
  // EXAPMLES
  section.examples
    .container
      h2.examples__title Образцы тканей
      h3.examples__subtitle Если вы сомневаетесь в плотности ткани или хотели бы посмотреть на цвет ткани "в живую", то специально для Вас у нас действует специальный сервис - "Заказ образца"
      .examples__wrap.wow(jsExamplesSlider)
        a.examples__item(href="#")
          .examples__photo
            img(src="img/example1.png")
            button.examples__btn(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
          h3.examples__item-title Каталог образцов тканей
          .examples__size 10x10 см
          .examples__price 600
            +icon('ico-ruble')
        a.examples__item(href="#")
          .examples__photo
            img(src="img/example2.png")
            button.examples__btn(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
          h3.examples__item-title Каталог образцов цветных шелковых тканей
          .examples__size 10x10 см
          .examples__price 500
            +icon('ico-ruble')
        a.examples__item(href="#")
          .examples__photo
            img(src="img/example3.png")
            button.examples__btn(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
          h3.examples__item-title Каталог образцов по применению
          .examples__size 10x10 см
          .examples__price 400
            +icon('ico-ruble')
        a.examples__item(href="#")
          .examples__photo
            img(src="img/example4.png")
            button.examples__btn(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
          h3.examples__item-title Образцы волокон и нитей
          .examples__size 10x10 см
          .examples__price 300
            +icon('ico-ruble')
          
          
  // CATALOG INFO
  .catalog-info
    .container
      .catalog-info__wrap.wow
        .catalog-info__descr
          h2.catalog-info__title Шелк: виды, свойства, уход за тканью 
          p.catalog-info__text Шёлк – это натуральная ткань, которая не относится к растительному или животному происхождению. Её получают из кокона гусеницы шелкопряда. Но также бывают искусственные и синтетические виды шёлковых полотен. Все они отличаются уникальным блеском, гладкостью и прочностью.
        .catalog-info__photo
          img(src="img/catalog-info.jpg")
          
  // NEWSLETTER
  section.newsletter.wow
    .container
      .newsletter__wrap
        .newsletter__info
          h2.newsletter__title Подпишись на рассылку 
          h3.newsletter__subtitle и всегда будь в курсе наших новостей!
        form.newsletter__form(action="#")
          .newsletter__form-wrap
            input.newsletter__input(type="email" placeholder="Ваш email")
            button.newsletter__btn(type="submit") Подписаться !
            .newsletter__error Неверный формат e-mail
          p.newsletter__text Нажимая на кнопку, вы даете согласие на
            a.newsletter__link(href="#") обработку своих персональных данных