---
title: Contacts || MASHE
bodyClass: contacts-page
---
extends shared/_layout
block content
  
  
  // CONTACTS
  section.contacts-section
    .container
      .breadcrumbs.wow
        a.breadcrumbs__link(href="#") Главная
        a.breadcrumbs__link(href="#") Информация
        a.breadcrumbs__link.is-active(href="#") Контакты
      h1.contacts-section__title.wow(data-animation-delay=".1s") Контакты
      .contacts-section__container
        .contacts-section__wrap
          .contacts-section__info.wow
            a.contacts-section__tel(href="tel:88005059543") 
              span 8 800 505-95-43
                +icon('ico-tel')
            span.contacts-section__time по будням с 10 до 18
            a.contacts-section__mail(href="mailto:silk@mashe-shop.ru") 
              span silk@mashe-shop.ru
                +icon('ico-envelope')
              +icon('ico-wave')
              +icon('ico-wave')
            .contacts-section__socials
              a.contacts-section__soc-link(href="#")
                +icon('ico-fb')
              a.contacts-section__soc-link(href="#")
                +icon('ico-vk')
              a.contacts-section__soc-link(href="#")
                +icon('ico-inst')
            p.contacts-section__text Будьте в курсе новостей, следите за нами в социальных сетях
          .contacts-section__write.wow(data-animation-delay=".1s")
            h2.contacts-section__subtitle Написать нам
              +icon('ico-wave')
            form.contacts-section__form(action="#")
              .order-section__input(jsInput)
                input(type="text" id="order-cont-name")
                label.order-section__placeholder(for="order-cont-name")
                  span Ваше имя
              //input.contacts-section__input(type="text" placeholder="Ваше имя")
              .order-section__input(jsInput jsTel)
                input(type="text" id="order-cont-tel")
                label.order-section__placeholder(for="order-cont-tel")
                  span Контактный номер
              //input.contacts-section__input(type="text" placeholder="Контактный номер")
              .order-section__input(jsInput)
                textarea(type="text" id="order-cont-comment")
                label.order-section__placeholder(for="order-cont-comment")
                  span Текст вашего сообщения
              //textarea.contacts-section__textarea(placeholder="Текст вашего сообщения")
              button.contacts-section__btn(type="submit") Отправить
        .contacts-section__requis
          span реквизиты и Дополнительные контакты
        .contacts-section__requis-wrap
          .contacts-section__requis-col
            .contacts-section__requis-item
              h3.contacts-section__requis-title ИП Карпюк Андрей Викторович
              p.contacts-section__requis-text ИНН: 110210161123
              p.contacts-section__requis-text ОГРНИП: 318784700010140
              a.contacts-section__requis-link(href="#") e-mail: andrey@mashe-shop.ru
            .contacts-section__requis-item
              p.contacts-section__requis-text Банк: ФИЛИАЛ «САНКТ-ПЕТЕРБУРГСКИЙ» АО «АЛЬФА-БАНК»
              p.contacts-section__requis-text БИК: 044030786
              p.contacts-section__requis-text Р/счёт: 40802810132470000906
              p.contacts-section__requis-text Кор. счёт: 30101810600000000786
          .contacts-section__requis-col
            .contacts-section__requis-item
              h3.contacts-section__requis-title Дополнительные emails
              p.contacts-section__requis-text По вопросам доставки - 
                a(href="#") mashe_delivery@mashe.com
              p.contacts-section__requis-text По вопросам доставки - 
                a(href="#") mashe_delivery@mashe.com
            .contacts-section__requis-item
              p.contacts-section__requis-text По вопросам доставки - 
                a(href="#") mashe_delivery@mashe.com
              p.contacts-section__requis-text По вопросам доставки - 
                a(href="#") mashe_delivery@mashe.com
        .contacts-section__map#contacts-map.wow
        
  include components/_newsletter
        