---
title: Favorites || MASHE
bodyClass: favorites-page
---
extends shared/_layout
block content


  // FAVORITES SECTION
  section.favorites-section.search-section
    .container
      h1.favorites-section__title.wow Избранное
      .favorites-section__amount.wow 16 товаров
    
      .popular__wrap.wow
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular1.jpg")
            .catalog-item__badge.catalog-item__badge--hit Хит продаж
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Эксельсиор узбекский
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 260
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like.is-active(type="button")
              .catalog-item__tooltip Удалить из избранного
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular2.jpg")
            .catalog-item__badge.catalog-item__badge--new Новинка
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Атлас стрейч «Deep Pink»
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 500
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like.is-active(type="button")
              .catalog-item__tooltip Удалить из избранного
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular1.jpg")
            .catalog-item__badge.catalog-item__badge--hit Хит продаж
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Эксельсиор узбекский
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 260
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular2.jpg")
            .catalog-item__badge.catalog-item__badge--new Новинка
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Атлас стрейч «Deep Pink»
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 500
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        
      .popular__wrap.wow
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular1.jpg")
            .catalog-item__badge.catalog-item__badge--hit Хит продаж
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Эксельсиор узбекский
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 260
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular2.jpg")
            .catalog-item__badge.catalog-item__badge--new Новинка
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Атлас стрейч «Deep Pink»
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 500
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular1.jpg")
            .catalog-item__badge.catalog-item__badge--hit Хит продаж
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Эксельсиор узбекский
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 260
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular2.jpg")
            .catalog-item__badge.catalog-item__badge--new Новинка
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Атлас стрейч «Deep Pink»
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 500
              +icon('ico-ruble')
            button.catalog-item__tobag(type="button")
              //img(src="img/bag.svg")
              +icon('ico-bag')
            button.catalog-item__like(type="button")
              //img(src="img/heart.svg")
              +icon('ico-heart')
          .catalog-item__special
            p 
              span.catalog-item__special-price 1 160 
                +icon('ico-ruble')
              span цена за 1м – при покупке от 10м
              
      a.search-section__more(href="#") Показать еще
              
  include components/_newsletter