---
title: Help || MASHE
bodyClass: service-body
---
extends shared/_layout
block content
  
  
  // SERVICE
  section.service-page.help-page
    .container
      .breadcrumbs.wow
        a.breadcrumbs__link(href="#") Главная
        a.breadcrumbs__link.is-active(href="#") Помощь
      h1.service-page__title.wow(data-animation-delay=".1s") Помощь
      .service-page__wrap
        aside.service-page__aside
          a.service-page__aside-item.wow(href="#") Уход за тканями
            +icon('ico-descr')
          a.service-page__aside-item.wow.is-active(href="#") FAQ
            +icon('ico-faq')
        .service-page__main
          h2.service-page__subtitle.wow Часто задаваемые вопросы
          .help-page__item.wow.is-active Сложно представить по фото, как ткань будет вести себя в реале
            +icon('ico-serv-arrow')
          .help-page__hidden.is-active
            p.service-page__text Если у человека совсем нет опыта в шитье, он вряд ли будет заказывать ткань в интернет-магазине. На эту страницу вы попали, если опыт в шитье имеется, хоть и не большой. И названия тканей: вискоза, полиэстер, шерсть или гипюр уже известны - вы видели эти ткани, брали их в руки, ощущали. Естественно, существуют производители, чьи ткани на протяжении веков считаются лучшими: Италия, Англия. И вполне резонно, что шерсть корейского производства проиграет в качестве шерсти итальянского производителя, но и ценовой диапазон у них весьма отличается.
          .help-page__item.wow Сложно представить по фото, как ткань будет вести себя в реале
            +icon('ico-serv-arrow')
          .help-page__hidden
            p.service-page__text Если у человека совсем нет опыта в шитье, он вряд ли будет заказывать ткань в интернет-магазине. На эту страницу вы попали, если опыт в шитье имеется, хоть и не большой. И названия тканей: вискоза, полиэстер, шерсть или гипюр уже известны - вы видели эти ткани, брали их в руки, ощущали. Естественно, существуют производители, чьи ткани на протяжении веков считаются лучшими: Италия, Англия. И вполне резонно, что шерсть корейского производства проиграет в качестве шерсти итальянского производителя, но и ценовой диапазон у них весьма отличается.
          .help-page__item.wow Сложно представить по фото, как ткань будет вести себя в реале
            +icon('ico-serv-arrow')
          .help-page__hidden
            p.service-page__text Если у человека совсем нет опыта в шитье, он вряд ли будет заказывать ткань в интернет-магазине. На эту страницу вы попали, если опыт в шитье имеется, хоть и не большой. И названия тканей: вискоза, полиэстер, шерсть или гипюр уже известны - вы видели эти ткани, брали их в руки, ощущали. Естественно, существуют производители, чьи ткани на протяжении веков считаются лучшими: Италия, Англия. И вполне резонно, что шерсть корейского производства проиграет в качестве шерсти итальянского производителя, но и ценовой диапазон у них весьма отличается.
          .help-page__item.wow Сложно представить по фото, как ткань будет вести себя в реале
            +icon('ico-serv-arrow')
          .help-page__hidden
            p.service-page__text Если у человека совсем нет опыта в шитье, он вряд ли будет заказывать ткань в интернет-магазине. На эту страницу вы попали, если опыт в шитье имеется, хоть и не большой. И названия тканей: вискоза, полиэстер, шерсть или гипюр уже известны - вы видели эти ткани, брали их в руки, ощущали. Естественно, существуют производители, чьи ткани на протяжении веков считаются лучшими: Италия, Англия. И вполне резонно, что шерсть корейского производства проиграет в качестве шерсти итальянского производителя, но и ценовой диапазон у них весьма отличается.
          .help-page__item.wow Сложно представить по фото, как ткань будет вести себя в реале
            +icon('ico-serv-arrow')
          .help-page__hidden
            p.service-page__text Если у человека совсем нет опыта в шитье, он вряд ли будет заказывать ткань в интернет-магазине. На эту страницу вы попали, если опыт в шитье имеется, хоть и не большой. И названия тканей: вискоза, полиэстер, шерсть или гипюр уже известны - вы видели эти ткани, брали их в руки, ощущали. Естественно, существуют производители, чьи ткани на протяжении веков считаются лучшими: Италия, Англия. И вполне резонно, что шерсть корейского производства проиграет в качестве шерсти итальянского производителя, но и ценовой диапазон у них весьма отличается.
          
          
          .service-page__questions Если у остались вопросы, звоните по тел. <a href="#">+7 812 408 39 68</a> или пишите по адресу <a href="#">silk@mashe-shop.ru</a>
          
  include components/_newsletter