---
title: Homepage || MASHE
bodyClass: homepage
---
extends shared/_layout
block content

  // MAIN SLIDER
  section.main-slider
    .main-slider__slide
      .container
        span.main-slider__subtitle Натуральный
        h1.main-slider__title Шелк для декора
        p.main-slider__descr от 315 рублей, с доставкой по России от 2 дней
        a.main-slider__btn(href="#") Перейти в каталог
        
  // ADVANTAGES
  section.advantages
    .container
      .advantages__wrap
        .advantages__item
          h3.advantages__title Мин.отрез 0,5 метра
            //+icon('ico-')
          p.advantages__descr Идеально для рукоделия или на пробу
            //+icon('ico-')
        .advantages__item
          h3.advantages__title Высокое качество
            //+icon('ico-')
          p.advantages__descr Работаем напрямую с производителями тканей
            //+icon('ico-')
        .advantages__item
          h3.advantages__title Удобная доставка
            //+icon('ico-')
          p.advantages__descr Курьер, самовывоз, почта – от 130 руб.
            //+icon('ico-')
        .advantages__item
          h3.advantages__title Безопасная оплата
            //+icon('ico-')
          p.advantages__descr Онлайн-чек сразу после оплаты по e-mail или в sms
            //+icon('ico-')
        .advantages__item
          h3.advantages__title Оптовые цены от 10 м
            //+icon('ico-')
          p.advantages__descr Выгодное предложение при заказе оптом
            //+icon('ico-')
            
  // MASTERPIECE
  section.masterpiece
    .container
      h2.masterpiece__title Творите шедевры
      h3.masterpiece__subtitle Наслаждайтесь результатом
      .masterpiece__wrap
        .masterpiece__item.masterpiece__item--photo
          .masterpiece__title-wrap
            h3.masterpiece__item-title Шелк для шитья
            span.masterpiece__item-amount 22 вида
          p.masterpiece__descr Возможна покраска шелка по pantone и тканипод заказ на выгодныхусловиях
        .masterpiece__item
          .masterpiece__title-wrap
            h3.masterpiece__item-title Шелк для росписи
            span.masterpiece__item-amount 25 видов
          p.masterpiece__descr Натуральный белый шелк, платки и шарфы
        .masterpiece__item.masterpiece__item--photo
          .masterpiece__title-wrap
            h3.masterpiece__item-title Шелк для декора
            span.masterpiece__item-amount 22 вида
          p.masterpiece__descr Оптовые цены от 10 метров. Сотрудничество с фотогорафами и декораторами
        .masterpiece__item
          .masterpiece__title-wrap
            h3.masterpiece__item-title Шелк для валяния
            span.masterpiece__item-amount 25 видов
          p.masterpiece__descr Разреженный маргиланские шелка, лен, хлопок
        .masterpiece__item.masterpiece__item--photo
          .masterpiece__title-wrap
            h3.masterpiece__item-title Шелк для вышивки
            span.masterpiece__item-amount 22 вида
          p.masterpiece__descr Пайетки, бисер и шелковые нити
        .masterpiece__item
          .masterpiece__title-wrap
            h3.masterpiece__item-title Шелк для цветов
            span.masterpiece__item-amount 25 видов
          p.masterpiece__descr Минимальный отрез от 0,5 метра
      a.masterpiece__btn(href="#") Перейти в полный каталог
  
  // POPULAR
  section.popular
    .container
      h2.popular__title самые популярные
      h3.popular__subtitle Первоклассные природные материалы
      .popular__wrap(jsPopularSlider)
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular1.jpg")
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Эксельсиор узбекский
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 260₽
            button.catalog-item__tobag(type="button")
            button.catalog-item__like(type="button")
          .catalog-item__special
            p <span>1 160₽</span> цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular2.jpg")
            .catalog-item__badge.catalog-item__badge--new Новинка
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Атлас стрейч «Deep Pink»
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 500₽
            button.catalog-item__tobag(type="button")
            button.catalog-item__like(type="button")
          .catalog-item__special
            p <span>1 160₽</span> цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular3.jpg")
            .catalog-item__badge.catalog-item__badge--sale Уценка
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Жоржет
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 930₽
              del.catalog-item__old-price 1 760₽
            button.catalog-item__tobag(type="button")
            button.catalog-item__like(type="button")
          .catalog-item__special
            p <span>1 160₽</span> цена за 1м – при покупке от 10м
        a.catalog-item(href="#")
          .catalog-item__photo
            img(src="img/popular4.jpg")
            .catalog-item__descr
              p Разновидность шифона. Имеет креповую гофрированную текстуру и благородную матовую поверхность. 
              p Ткань не мнется благодаря повышенной крутке нитей. Легкий, искристый, воздушный.
          h3.catalog-item__title Атлас стрейч «Deep Purple»
          .catalog-item__info
            .catalog-item__info-item Ширина:
              span 140 см
            .catalog-item__info-item Плотность:
              span 8 м/м ≈ 34 г/м2
          .catalog-item__wrap
            span.catalog-item__price 1 500₽
            button.catalog-item__tobag(type="button")
            button.catalog-item__like(type="button")
          .catalog-item__special
            p <span>1 160₽</span> цена за 1м – при покупке от 10м
            
  // EXAPMLES
  section.examples
    .container
      h2.examples__title Образцы тканей
      h3.examples__subtitle Если вы сомневаетесь в плотности ткани или хотели бы посмотреть на цвет ткани "в живую", то специально для Вас у нас действует специальный сервис - "Заказ образца"
        