---
title: ICONS || MASHE
bodyClass: homepage
---
extends shared/_layout
block content
            
  // EXAPMLES
  section.examples
    .container
      h2.examples__title Иконки
      h3.examples__subtitle hello

    .container
      +icon('ico-action')
      +icon('ico-arrow-left')
      +icon('ico-arrow-right')
      +icon('ico-bag')
      +icon('ico-card')
      +icon('ico-close')
      +icon('ico-dev-icon')
      +icon('ico-fb')
      +icon('ico-for-decor')
      +icon('ico-for-embr')
      +icon('ico-for-felt')
      +icon('ico-for-flower')
      +icon('ico-for-paint')
      +icon('ico-for-slitch')
      +icon('ico-heart')
      +icon('ico-inst')
      +icon('ico-logo-big')
      +icon('ico-logo')
      +icon('ico-mailing')
      +icon('ico-menu')
      +icon('ico-quotes')
      +icon('ico-scissors')
      +icon('ico-search-arrow')
      +icon('ico-search')
      +icon('ico-stamp')
      +icon('ico-truck')
      +icon('ico-vk')
      +icon('ico-wave')
      
