---
title: Info || MASHE
bodyClass: service-body
---
extends shared/_layout
block content
  
  
  // SERVICE
  section.service-page
    .container
      .breadcrumbs.wow
        a.breadcrumbs__link(href="#") Главная
        a.breadcrumbs__link.is-active(href="#") Информация
      h1.service-page__title.wow(data-animation-delay=".1s") Информация
      .service-page__wrap
        aside.service-page__aside.service-page__aside--empty
          a.service-page__aside-item.wow(href="#") Оптовым покупателям
          a.service-page__aside-item.wow(href="#") Публичная оферта
          a.service-page__aside-item.wow.is-active(href="#") Конфиденциальность
        .service-page__main
          h2.service-page__subtitle.wow Политика конфиденциальности 
          h3.service-page__subtitle2.wow 1. Назначение и область действия документа
          p.service-page__text.wow Политика Компании в отношении обработки персональных данных" (далее по тексту — Политика) определяет позицию и намерения Компании в области обработки и защиты персональных данных, соблюдения прав и основных свобод каждого человека и, в особенности, права на неприкосновенность частной жизни, личную и семейную тайну, защиту своей чести и доброго имени.
          p.service-page__text.wow Политика предназначена для изучения и неукоснительного исполнения руководителями и работниками всех структурных подразделений Компании, а также подлежит доведению до сведения лиц, состоящих в договорных, гражданско-правовых и иных отношениях с Компанией, партнеров и других заинтересованных сторон.
          h3.service-page__subtitle2.wow  2. Определения
          p.service-page__text.wow Под персональными данными понимается любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (гражданину). Т.е. к такой информации, в частности, относятся: ФИО, год, месяц, дата и место рождения, адрес, сведения о семейном, социальном, имущественном положении, сведения об образовании, профессии, доходах, а также другая информация.
          p.service-page__text.wow Под обработкой персональных данных понимается любое действие (операция) или совокупность действий (операций) с персональными данными, совершаемых с использованием средств автоматизации или без использования таких средств. К таким действиям (операциям) относятся: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
          p.service-page__text.wow Под безопасностью персональных данных понимается защищенность персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а также от иных неправомерных действий в отношении персональных данных.
          p.service-page__text.wow Под Информационной системой персональных данных понимается совокупность содержащихся в базах данных персональных данных и обеспечивающих их обработку информационных технологий и технических средств.
          h3.service-page__subtitle2.wow 3. Цели обработки персональных данных
          p.service-page__text.wow Обработка персональных данных осуществляется Компанией в целях:
          .service-page__list.service-page__list--single.wow
            p.service-page__text информирования клиентов о новых товарах и услугах, продвигаемых Компанией (рассылка каталогов, информационных листовок, электронных сообщений на емейл-адреса клиентов-подписчиков с информацией и рекламными материалами, относящимися к потребительским товарам); при этом каждый подписчик в любой момент может отписаться от емейл-рассылки, кликнув на ссылку «Отменить подписку на рассылки» в письмe;
          .service-page__list.service-page__list--single.wow
            p.service-page__text для индивидуального учета клиентских заказов в целях исполнения договоров с клиентами;
          .service-page__list.service-page__list--single.wow
            p.service-page__text оформления работников Компании в соответствии с требованиями* законодательства Российской Федерации;
          .service-page__list.service-page__list--single.wow
            p.service-page__text принятия решения о возможности заключения трудового договора с лицами, претендующими на открытые вакансии.


  include components/_newsletter