---
title: Ordering || MASHE
bodyClass: ordering-page
---
extends shared/_layout
block content
  // ORDERING SECTION
  section.order-section
    .container
      h1.order-section__title Оформление заказа
      .order-section__wrapper
        .order-section__main
          .order-section__pages
            .order-section__page.step-done 
              span 1. Контактные данные
                +icon('ico-check')
              +icon('ico-arrow-right')
            .order-section__page.is-active 
              span 2. Способ доставки
              +icon('ico-arrow-right')
            .order-section__page 
              span 3. Оплата
          .order-section__datas
            h2.order-section__subtitle 2. Способ доставки
              +icon('ico-truck')
            .order-section__city Город доставки - 
              +icon('ico-nav')
              a.order-section__city-link(href="#city-popup" js-popup) Нижний Новгород
            .order-section__delivery
              input.order-section__delivery-check(name="delivery-type" type="radio" id="courier-iml" jsCourier checked)
              label.order-section__delivery-item(for="courier-iml")
                h3.order-section__delivery-title Курьерская, IML
                span.order-section__delivery-date 3-4 рабочих дня
                .order-section__delivery-price от
                  span 260 
                    +icon('ico-ruble')
              input.order-section__delivery-check(name="delivery-type" type="radio" id="courier-sdek" jsCourier)
              label.order-section__delivery-item(for="courier-sdek")
                h3.order-section__delivery-title Курьерская, СДЭК
                span.order-section__delivery-date 3-4 рабочих дня
                .order-section__delivery-price от
                  span 560 
                    +icon('ico-ruble')
              input.order-section__delivery-check(name="delivery-type" type="radio" id="punkt-iml" jsMyself)
              label.order-section__delivery-item(for="punkt-iml")
                h3.order-section__delivery-title В пункт выдачи, IML
                span.order-section__delivery-date 3-4 рабочих дня
                .order-section__delivery-price от
                  span 360 
                    +icon('ico-ruble')
              input.order-section__delivery-check(name="delivery-type" type="radio" id="punkt-sdek" jsMyself)
              label.order-section__delivery-item(for="punkt-sdek")
                h3.order-section__delivery-title В пункт выдачи, СДЭК
                span.order-section__delivery-date 3-4 рабочих дня
                .order-section__delivery-price от
                  span 760 
                    +icon('ico-ruble')
              input.order-section__delivery-check(name="delivery-type" type="radio" id="ru-post" jsPost)
              label.order-section__delivery-item(for="ru-post")
                h3.order-section__delivery-title Почта России
                span.order-section__delivery-date 7-14 рабочих дня
                .order-section__delivery-price от
                  span 860 
                    +icon('ico-ruble')
            .order-section__info-hint Отправление заказов производится по будням. Заказы принятые до 12:30 по будням, отправляются в день оформления. Остальные на следующих рабочий день.
              +icon('ico-info')
          .order-section__address
            h2.order-section__subtitle Адрес доставки
            .order-section__fields
              input.order-section__input.order-section__input--40(type="text" placeholder="Улица*")
              input.order-section__input.order-section__input--15(type="text" placeholder="Дом*")
              input.order-section__input.order-section__input--15(type="text" placeholder="Корпус")
              input.order-section__input.order-section__input--15(type="text" placeholder="Квартира*")
              input.order-section__input(type="text" placeholder="Коментарий к заказу")
          .order-section__post
            h2.order-section__subtitle Адрес доставки
            .order-section__fields
              input.order-section__input.order-section__input--27(type="text" placeholder="Улица*")
              input.order-section__input.order-section__input--15(type="text" placeholder="Дом*")
              input.order-section__input.order-section__input--15(type="text" placeholder="Корпус")
              input.order-section__input.order-section__input--15(type="text" placeholder="Квартира*")
              input.order-section__input.order-section__input--15(type="text" placeholder="Индекс*")
              input.order-section__input(type="text" placeholder="Коментарий к заказу")
              
          .order-section__myself
            .order-section__title-wrap
              h2.order-section__subtitle Выберите пункт самовывоза
              .order-section__myself-amount 35 пунктов в вашем городе
            .order-section__myself-wrap
              .order-section__myself-map#order-map
              .order-section__list
                .order-section__list-scroll
                  a.order-section__list-item(href="#")
                    h3.order-section__list-title 603000, Нижний Новгород, Покровская Б. ул., д. 56
                    .order-section__list-company IML - Горьковская м. - Ростелеком
                    .order-section__list-price 255
                      +icon('ico-ruble')
                  a.order-section__list-item(href="#")
                    h3.order-section__list-title 603000, Нижний Новгород, Покровская Б. ул., д. 56
                    .order-section__list-company IML - Горьковская м. - Ростелеком
                    .order-section__list-price 255
                      +icon('ico-ruble')
                  a.order-section__list-item(href="#")
                    h3.order-section__list-title 603000, Нижний Новгород, Покровская Б. ул., д. 56
                    .order-section__list-company IML - Горьковская м. - Ростелеком
                    .order-section__list-price 255
                      +icon('ico-ruble')
                  a.order-section__list-item(href="#")
                    h3.order-section__list-title 603000, Нижний Новгород, Покровская Б. ул., д. 56
                    .order-section__list-company IML - Горьковская м. - Ростелеком
                    .order-section__list-price 255
                      +icon('ico-ruble')
                  a.order-section__list-item(href="#")
                    h3.order-section__list-title 603000, Нижний Новгород, Покровская Б. ул., д. 56
                    .order-section__list-company IML - Горьковская м. - Ростелеком
                    .order-section__list-price 255
                      +icon('ico-ruble')
                .order-section__full
                  button.order-section__full-close(type="button")
                    +icon('ico-close')
                  h3.order-section__full-title 603000, Нижний Новгород, Покровская Б. ул., д. 56
                  .order-section__full-company IML - Горьковская м. - Ростелеком
                  .order-section__full-deliv Срок доставки 3-4 рабочих дня
                    +icon('ico-wave-pink')
                  .order-section__full-price 250
                    +icon('ico-ruble')
                  button.order-section__full-here(type="button") Забрать тут
                  button.order-section__full-another(type="button") Выбрать другой
                    +icon('ico-arrow-button')
          .order-section__btn-wrap
            button.order-section__btn(type="button") Продолжить
              +icon('ico-arrow-button')
            
            
        aside.order-section__aside
          .order-section__wrap
            
            .order-section__amount
              .order-section__amount-number 2 товара
              .order-section__amount-summ 14 900
                +icon('ico-ruble')
                
            .order-section__aside-gift
              .order-section__amount-number Каталог образцов
              .order-section__all-hint подарок
              
            .order-section__amount.order-section__aside-deliv
              .order-section__amount-number Курьерская доставка, IML
              .order-section__amount-summ 350
                +icon('ico-ruble')
            .order-section__all
              h3.order-section__all-title сумма заказа
                +icon('ico-wave')
              .order-section__all-price 14 900
                +icon('ico-ruble')
              .order-section__all-hint без стоимости доставки
        .order-section__btn-wrap.order-section__btn-wrap--mobile
          button.order-section__btn(type="button") Продолжить
            +icon('ico-arrow-button')
            
  .city-popup#city-popup
    h2.city-popup__title Выбор города
      +icon('ico-wave-long')
    form(action="#")
      input.search-panel__input(type="text" placeholder="Поиск города")
      button.search-panel__btn(type="button")
        +icon('ico-search-arrow')
    .city-popup__wrap
      .city-popup__col
        a.city-popup__item(href="#") Москва
        a.city-popup__item(href="#") Санкт-Петербург
        a.city-popup__item(href="#") Архангельск
        a.city-popup__item(href="#") Владивосток
        a.city-popup__item(href="#") Волгоград
        a.city-popup__item(href="#") Воронеж
        a.city-popup__item(href="#") Екатеринбург
        a.city-popup__item(href="#") Ижевск
      .city-popup__col
        a.city-popup__item(href="#") Иркутск
        a.city-popup__item(href="#") Казань
        a.city-popup__item(href="#") Кемерово
        a.city-popup__item(href="#") Краснодар
        a.city-popup__item(href="#") Красноярск
        a.city-popup__item(href="#") Мурманск
        a.city-popup__item(href="#") Набережные челны
        a.city-popup__item.is-active(href="#") Нижний новгород
      .city-popup__col
        a.city-popup__item(href="#") Новосибирск
        a.city-popup__item(href="#") Омск
        a.city-popup__item(href="#") Пермь
        a.city-popup__item(href="#") Ростов-на-Дону
        a.city-popup__item(href="#") Саратов
        a.city-popup__item(href="#") Тверь
        a.city-popup__item(href="#") Тольятти
        a.city-popup__item(href="#") Тула
      .city-popup__col 
        a.city-popup__item(href="#") Тюмень
        a.city-popup__item(href="#") Ульяновск
        a.city-popup__item(href="#") Уфа
        a.city-popup__item(href="#") Хабаровск
        a.city-popup__item(href="#") Челябинск
        a.city-popup__item(href="#") Ярославль
    
    
  include components/_newsletter