---
title: Product || MASHE
bodyClass: product-page
---
extends shared/_layout
block content
  // PRODUCT SECTION
  section.product-section
    .container
      .product-section__top-wrap
        a.product-section__link.product-section__link--prev(href="#") Предыдущий товар
          +icon('ico-arrow-left')
        .breadcrumbs.wow
          a.breadcrumbs__link(href="#") Главная
          a.breadcrumbs__link(href="#") Каталог
          a.breadcrumbs__link.is-active(href="#") Атлас АС14016PP
        a.product-section__link.product-section__link--next(href="#") Следующий товар
          +icon('ico-arrow-right')
      h1.product-section__title.wow(data-animation-delay=".1s") Атлас стрейч «Magic White»
      span.product-section__articul.wow(data-animation-delay=".2s") Арт. АС14016PP
      .product-section__wrap
        .product-section__topbar
          .product-section__slider.wow
            .product-section__badge.product-section__badge--wait Ожидаем поступления
            .product-section__share
                +icon('ico-share')
                .product-section__socials
                  a.product-section__social-link.product-section__social-link--fb(href="#")
                  a.product-section__social-link.product-section__social-link--vk(href="#")
                  a.product-section__social-link.product-section__social-link--tw(href="#")
                  a.product-section__social-link.product-section__social-link--ok(href="#")
            .product-section__slider-wrap(jsProductSlider)
              img(src="img/product-slide.jpg")
              img(src="img/product-slide.jpg")
              img(src="img/product-slide.jpg")
              img(src="img/product-slide.jpg")
            .product-section__photos
              a.product-section__photos-item.is-active(href="#" jsProductBtn data-index="0")
                img(src="img/product-slide-mini1.jpg")
              a.product-section__photos-item(href="#" jsProductBtn data-index="1")
                img(src="img/product-slide-mini2.jpg")
              a.product-section__photos-item(href="#" jsProductBtn data-index="2")
                img(src="img/product-slide-mini3.jpg")
              a.product-section__photos-item(href="#" jsProductBtn data-index="3")
                img(src="img/product-slide-mini4.jpg")
              a.product-section__photos-item.product-section__photos-item--video(href="https://www.youtube.com/watch?v=6j5t6WjtSfk" js-popupvideo)
                span Видео
                  +icon('ico-play')
            
          .product-section__info.wow(data-animation-delay=".1s")
            .product-section__price-wrap
              .product-section__first-price 1 350
                +icon('ico-ruble')
                span цена за метр
              .product-section__second-price 1 050
                +icon('ico-ruble')
                span цена за метр, от 10 метров
            .product-section__amount-wrap
              h3.product-section__amount-title Количество / м /
              h4.product-section__amount-subtitle Минимальный отрез 0,5 метра, далее с шагом 10 см.
              .product-section__amount
                .product-section__amount-btns
                  a.product-section__tocart.product-section__tocart--envelope(href="#product-popup" jsSubscr js-popup) Сообщить о поступлении <del>на почту</del>
                    +icon('ico-envelope')
                  button.product-section__tocart.product-section__tocart--done(type="button" jsSubscrDone) 
                    span Вы подписаны на товар
                      +icon('ico-check')
                  button.product-section__like(type="button")
                    +icon('ico-heart')
            .product-section__charac-wrap
              h3.product-section__charac-title Характеристики
              p.product-section__charac-descr Состав:
                span 95% шелка / 5% эластанг
              p.product-section__charac-descr Ширина:
                span 140 см
              p.product-section__charac-descr Плотность:
                span 16 мм = 69 г/м2
              p.product-section__charac-descr Цвет:	
                span Baby Pink
              p.product-section__charac-descr Производство:
                span Китай
        .product-section__amount-btns.product-section__amount-btns--mobile
          a.product-section__tocart.product-section__tocart--envelope(href="#product-popup" jsSubscr js-popup) 
            span Сообщить о поступлении <del>на почту</del>
              +icon('ico-envelope')
          button.product-section__tocart.product-section__tocart--done(type="button" jsSubscrDone) 
            span Вы подписаны на товар
              +icon('ico-check')
          button.product-section__like(type="button") 
            span В избранное
              +icon('ico-heart')
        .product-section__charac-wrap.product-section__charac-wrap--mobile
          h3.product-section__charac-title Характеристики
          p.product-section__charac-descr Состав:
            span 95% шелка / 5% эластанг
          p.product-section__charac-descr Ширина:
            span 140 см
          p.product-section__charac-descr Плотность:
            span 16 мм = 69 г/м2
          p.product-section__charac-descr Цвет:	
            span Baby Pink
          p.product-section__charac-descr Производство:
            span Китай
        
        .product-section__tabs.wow
          .product-section__links-wrap
            a.product-section__tab-link.is-active(href="#") Описание и уход
              +icon('ico-descr')
            a.product-section__tab-link(href="#") Варианты оплаты
              +icon('ico-card')
            a.product-section__tab-link(href="#") Система скидок
              +icon('ico-action')
            a.product-section__tab-link(href="#") Удобная доставка
              +icon('ico-truck')
          .product-section__tab-item.is-active
            .product-section__tab-wrap
              .product-section__tab-half
                h3.product-section__tab-title Подходит для
                .product-section__tab-tags
                  a.product-section__tab-tag(href="#") #шитья
                  a.product-section__tab-tag(href="#") #валяния
                  a.product-section__tab-tag(href="#") #батика
                h3.product-section__tab-title Описание
                p.product-section__tab-text Шелк – это роскошная и деликатная ткань, которой восхищались целые столетия. Еще шелк, который производится из коконов шелковичных червей, также является самым прочным волокном естественного происхождения. Скользкая и гладкая текстура этой ткани создает некоторые трудности при шитье, что требует особого внимания. Тем не менее, существуют простые техники, которые упростят работу с шелком на любом этапе шитья дома.
              .product-section__tab-half
                h3.product-section__tab-title Уход за тканью
                .product-section__care
                  .product-section__care-item
                    .product-section__tooltip Сухая химчистка
                    +icon('ico-care1')
                  .product-section__care-item
                    .product-section__tooltip Сухая химчистка
                    +icon('ico-care2')
                  .product-section__care-item
                    .product-section__tooltip Сухая химчистка
                    +icon('ico-care3')
                  .product-section__care-item
                    .product-section__tooltip Сухая химчистка
                    +icon('ico-care4')
                  .product-section__care-item
                    .product-section__tooltip Сухая химчистка
                    +icon('ico-care5')
                  .product-section__care-item
                    .product-section__tooltip Сухая химчистка
                    +icon('ico-care6')
                  .product-section__care-item
                    .product-section__tooltip Сухая химчистка
                    +icon('ico-care7')
                h3.product-section__tab-title Уход за тканью
                p.product-section__tab-text Шелк – это роскошная и деликатная ткань, которой восхищались целые столетия. Еще шелк, который производится из коконов шелковичных червей, также является самым прочным волокном естественного происхождения.
                p.product-section__tab-text Скользкая и гладкая текстура этой ткани создает некоторые трудности при шитье, что требует особого внимания. Тем не менее, существуют простые техники, которые упростят работу с шелком на любом этапе шитья дома.
              
      
  
  // RECENT ITEMS
  .recent-items
    .container
      h2.recent-items__title.wow
        span Вы недавно просматривали
      .recent-items__wrap.wow(jsRecentSlider)
        a.recent-items__item(href="#")
          .recent-items__img
            img(src="img/popular1.jpg")
          h3.recent-items__subtitle Эксельсиор узбекский
          span.recent-items__price 1 260
            +icon('ico-ruble')
        a.recent-items__item(href="#")
          .recent-items__img
            img(src="img/popular2.jpg")
          h3.recent-items__subtitle Атлас стрейч «Deep Pink»
          span.recent-items__price 1 260
            +icon('ico-ruble')
        a.recent-items__item(href="#")
          .recent-items__img
            img(src="img/popular3.jpg")
          h3.recent-items__subtitle Жоржет
          span.recent-items__price 1 260
            +icon('ico-ruble')
        a.recent-items__item(href="#")
          .recent-items__img
            img(src="img/popular1.jpg")
          h3.recent-items__subtitle Эксельсиор узбекский
          span.recent-items__price 1 260
            +icon('ico-ruble')
        a.recent-items__item(href="#")
          .recent-items__img
            img(src="img/popular2.jpg")
          h3.recent-items__subtitle Атлас стрейч «Deep Pink»
          span.recent-items__price 1 260
            +icon('ico-ruble')
        a.recent-items__item(href="#")
          .recent-items__img
            img(src="img/popular3.jpg")
          h3.recent-items__subtitle Жоржет
          span.recent-items__price 1 260
            +icon('ico-ruble')
        a.recent-items__item(href="#")
          .recent-items__img
            img(src="img/popular3.jpg")
          h3.recent-items__subtitle Жоржет
          span.recent-items__price 1 260
            +icon('ico-ruble')
            
  //YOU LIKE
  section.you-like
    .container
      h2.you-like__title.wow Вам понравится
      .recent-items__wrap.wow
        a.recent-items__item(href="#")
          .recent-items__img
            img(src="img/popular1.jpg")
          h3.recent-items__subtitle Эксельсиор узбекский
          span.recent-items__price 1 260
            +icon('ico-ruble')
        a.recent-items__item(href="#")
          .recent-items__img
            img(src="img/popular2.jpg")
          h3.recent-items__subtitle Атлас стрейч «Deep Pink»
          span.recent-items__price 1 260
            +icon('ico-ruble')
        a.recent-items__item(href="#")
          .recent-items__img
            img(src="img/popular3.jpg")
          h3.recent-items__subtitle Жоржет
          span.recent-items__price 1 260
            +icon('ico-ruble')
        a.recent-items__item(href="#")
          .recent-items__img
            img(src="img/popular1.jpg")
          h3.recent-items__subtitle Эксельсиор узбекский
          span.recent-items__price 1 260
            +icon('ico-ruble')
        a.recent-items__item(href="#")
          .recent-items__img
            img(src="img/popular2.jpg")
          h3.recent-items__subtitle Атлас стрейч «Deep Pink»
          span.recent-items__price 1 260
            +icon('ico-ruble')
            
  // PRODUCT POPUP
  .product-popup#product-popup
    .product-popup__first
      h2.product-popup__title Уведомление о поступлении
        +icon('ico-wave')
      p.product-popup__text Впишите свой e-mail, чтобы получить письмо, как только товар можно будет заказать
      form(action="#")
        input.product-popup__input(type="text" placeholder="Ваш email")
        button.product-popup__btn(type="button" jsNotifyMe) Уведомить меня
      p.product-popup__text Нажимая кнопку, вы соглашаетесь с 
        a.product-popup__link(href="#") офертой
    .product-popup__second
      h2.product-popup__title Вы подписаны на товар
        +icon('ico-wave')
      p.product-popup__text Мы обязательно напишем вам, когда нужный товар появится в наличии
      button.product-popup__btn.product-popup__btn--close(type="button" jsClosePopup) Закрыть
        +icon('ico-close')
      
              
  include components/_newsletter
  
