---
title: Service-sales || MASHE
bodyClass: service-body
---
extends shared/_layout
block content
  
  
  // SERVICE
  section.service-page
    .container
      .breadcrumbs.wow
        a.breadcrumbs__link(href="#") Главная
        a.breadcrumbs__link.is-active(href="#") Сервис
      h1.service-page__title.wow(data-animation-delay=".1s") Сервис
      .service-page__wrap
        aside.service-page__aside
          a.service-page__aside-item.wow(href="#") Как оформить заказ?
            +icon('ico-serv-order')
          a.service-page__aside-item.wow(href="#") Способы доставки
            +icon('ico-serv-truck')
          a.service-page__aside-item.wow(href="#") Способы оплаты
            +icon('ico-serv-payment')
          a.service-page__aside-item.wow.is-active(href="#") Скидки и бонусы
            +icon('ico-serv-action')
          a.service-page__aside-item.wow(href="#") Обмен/возврат
            +icon('ico-serv-refund')
        .service-page__main
          h2.service-page__subtitle.wow Скидки и бонусы
          h3.service-page__subtitle2.wow В наших ценах нет ничего лишнего. Они состоят только из:
          .service-page__sales-wrap.wow
            +icon('ico-wave-long')
            .service-page__sales-item Высокое качество ткани
              +icon('ico-serv-qual')
            .service-page__sales-item Отличный сервис
              +icon('ico-serv-service')
            .service-page__sales-item Скромное вознаграждение за честную работу
              +icon('ico-serv-money')
          h3.service-page__subtitle2.wow Мы не включали в цену большие скидки, но готовы отблагодарить за ваш выбор следующими способами:
          .service-page__list.wow
            h4.service-page__subtitle3 Специальные цены *
            p.service-page__text При покупке от 10 метров одного вида ткани вы приобретаете ее по специальной цене.
          .service-page__list.wow
            h4.service-page__subtitle3 Промо-коды *
            p.service-page__text Промо-коды дают скидку на отдельные товары или группу товаров.
            p.service-page__text Получить промо-коды можно у <a href="#">наших партнеров</a> или найти их в наших социальных сетях: <a href="#">vkontakte</a>, <a href="#">instagram</a>, <a href="#">facebook</a>
          .service-page__list.wow
            h4.service-page__subtitle3 Доставка бесплатная или со скидкой **
            p.service-page__text Вы можете полностью компенсировать стоимость доставки или получить скидку:
            p.service-page__text При сумме заказа от <span>3 000 руб.</span> – скидка на доставку <span>100 руб.</span> <br> При сумме заказа от <span>5 000 руб.</span> – скидка на доставку <span>200 руб.</span> <br> При сумме заказа от <span>10 000 руб.</span> – скидка на доставку <span>500 руб.</span>
          .service-page__list.wow
            h4.service-page__subtitle3 Верным покупателям
            p.service-page__text Мы ценим вашу лояльность, поэтому готовим для вас кое-что особенное. Все ваши предыдущие покупки будут учтены.
            p.service-page__text Как только все будет готово, мы расскажем об этом в наших соцсетях и уведомим по электронной почте.
          .service-page__hints.wow
            p.service-page__hint * Если в вашем заказе есть товары по специальной цене, то промо-коды применяются только к товарам по обычной цене. Другие скидки и бонусы не применяются. 
            p.service-page__hint ** Если в вашем заказе есть товары по специальной цене или применены промо-коды, то другие скидки и бонусы не применяются.
            
  include components/_newsletter