---
title: Service-refund || MASHE
bodyClass: service-body
---
extends shared/_layout
block content
  
  
  // SERVICE
  section.service-page
    .container
      .breadcrumbs.wow
        a.breadcrumbs__link(href="#") Главная
        a.breadcrumbs__link.is-active(href="#") Сервис
      h1.service-page__title.wow(data-animation-delay=".1s") Сервис
      .service-page__wrap
        aside.service-page__aside
          a.service-page__aside-item.wow(href="#") Как оформить заказ?
            +icon('ico-serv-order')
          a.service-page__aside-item.wow(href="#") Способы доставки
            +icon('ico-serv-truck')
          a.service-page__aside-item.wow(href="#") Способы оплаты
            +icon('ico-payment')
          a.service-page__aside-item.wow(href="#") Скидки и бонусы
            +icon('ico-action')
          a.service-page__aside-item.wow.is-active(href="#") Обмен/возврат
            +icon('ico-serv-refund')
        .service-page__main
          h2.service-page__subtitle.wow Возврат / обмен
          p.service-page__text.wow Понимая особенности покупки тканей в интернете мы предоставляем возможность вернуть или обменять товар согласно правилам, изложенным Публичной оферте или данном разделе.
          p.service-page__text.wow Покупатель вправе отказаться от товара <span>в любое время</span> до его передачи, а после передачи <span>в течение 7 (семи) дней</span> 
          p.service-page__text.wow При отказе Покупателя от товара Продавец возвращает денежные средства, уплаченные Покупателем за товар, за исключением расходов Продавца на доставку от потребителя возвращенного товара, не позднее чем через десять дней со дня предъявления потребителем соответствующего требования.
          p.service-page__text.wow Покупатель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его человеком. Под индивидуально-определенными свойствами можно понимать следующие свойства: цвет, индивидуальные размеры (длина, ширина, высота), специальные характеристики и др. свойства, задаваемые покупателям перед приобретением товара
          p.service-page__text.wow Возврат или обмен товара надлежащего качества возможен <span>в течение 7 (семи) дней</span> после его передачи в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара у Продавца (кассовый чек, товарная накладная, заказ покупателя, акт приема передачи или иные документы).
          p.service-page__text.wow В случае доставки Продавцом товара ненадлежащего качества, если это не было оговорено Продавцом (продажа уцененного товара), покупатель вправе отказаться от такого товара, направив уведомление на электронную почту Продавца <a href="#">service@mashe-shop.ru</a>
          h3.service-page__subtitle2.wow Покупатель вправе по своему выбору потребовать:
          .service-page__list.service-page__list--single.wow
            p.service-page__text безвозмездного устранения недостатков Товара;
          .service-page__list.service-page__list--single.wow
            p.service-page__text соразмерного уменьшения покупной цены;
          .service-page__list.service-page__list--single.wow
            p.service-page__text замены на Товар аналогичной модели (артикула) или на такой же товар другой модели (артикула) с соответствующим перерасчетом покупной цены;
          .service-page__list.service-page__list--single.wow
            p.service-page__text возврат Товара Продавцу с возвращением уплаченных денежных средств.
          p.service-page__text.wow Отличие оттенка цвета от представленных на мониторе Покупателя при отображении товаров на сайте, не является дефектом или существенным недостатком Товара.
          h3.service-page__subtitle2.wow Порядок возврата и обмена
          p.service-page__text.wow Для возврата или обмена товара товара Покупатель в течение 7 (семи) дней после передачи товара обязан уведомить Продавца о возврате, направив на электронный адрес <a href="#">service@mashe-shop.ru</a> заполненное «Заявление на возврат/обмен товара» (вкладывается в заказ), копию паспорта, копии документов, подтверждающих приобретение товара у Продавца. <br> После получения уведомления о возврате Продавец свяжется с покупателем в течение одного рабочего дня для согласования способа и сроков возврата. <br> Покупатель за собственный счет обязан направить в адрес продавца возвращаемый товар с вложением оригиналов документов, подтверждающих факт и условия покупки указанного товара у Продавца, оригинал заявления о возврате/обмене товара и копию паспорта. <br> Обмен товара возможен на товары из наличия, представленные в интернет-магазине Продавца. <br> При разнице в стоимости обмениваемых товаров Покупатель получает возврат денежных средств согласно порядку возврата денежных средств, или доплачивает разницу. <br> Возврат обмениваемого товара и доставка нового товара осуществляются за счет Покупателя. <br> К возврату не принимаются отправления, направленные с наложенным платежом.
          h3.service-page__subtitle2.wow После получения возврата:
          .service-page__list.service-page__list--single.wow
            p.service-page__text если товарный вид и/или потребительские свойства товара нарушены, Продавец связывается с Покупателем для согласования дальнейших действий;
          .service-page__list.service-page__list--single.wow
            p.service-page__text если подтверждена сохранность товарного вида и потребительских свойств товара, Продавец осуществляет возврат денежных средств или обмен товара;
          p.service-page__text Срок рассмотрения Заявления и возврата денежных средств Покупателю начинает исчисляться с момента получения Продавцом оригинала Заявления и рассчитывается в рабочих днях без учета праздников/выходных дней. Если заявление поступило Продавцу после18.00 часов (местное время нахождения продавца) рабочего дня или в праздничный/выходной день, моментом получения Продавцом Заявления считается следующий рабочий день.
          h3.service-page__subtitle2 Порядок возврата денежных средств:
          .service-page__list.service-page__list--single.wow
            p.service-page__text если Покупатель осуществлял оплату товара при получении у курьера или в пункте выдачи, то возврат денежных средств осуществляется в течение 10 (десяти) дней безналичным способом на банковские реквизиты, указанные в заявлении на возврат;
          .service-page__list.service-page__list--single.wow
            p.service-page__text при оплате товара банковской картой на сайте Продавца, возврат наличными денежными средствами не допускается. Порядок возврата регулируется правилами международных платежных систем. Для возврата денежных средств на банковскую карту необходимо заполнить «Заявление о возврате денежных средств», которое вкладывается в заказ вместе с правилами возврата. Возврат денежных средств будет осуществлен на банковскую карту в течение 21 (двадцати одного) рабочего дня со дня получения «Заявление о возврате денежных средств» Компанией. 
            p.service-page__text.wow Сумма возврата будет равняться стоимости возвращаемых товаров. Срок рассмотрения Заявления и возврата денежных средств начинает исчисляться с момента получения Компанией Заявления и рассчитывается в рабочих днях без учета праздников/выходных дней.

          .service-page__list.service-page__list--single.wow
            p.service-page__text.wow для возврата денежных средств по операциям проведенными с ошибками необходимо обратиться с письменным заявлением и приложением копии паспорта и чеков/квитанций, подтверждающих ошибочное списание. Данное заявление необходимо направить по адресу <a href="#">service@mashe-shop.ru</a>
          
  include components/_newsletter