---
title: Service-delivery || MASHE
bodyClass: service-body
---
extends shared/_layout
block content
  
  
  // SERVICE
  section.service-page
    .container
      .breadcrumbs.wow
        a.breadcrumbs__link(href="#") Главная
        a.breadcrumbs__link.is-active(href="#") Сервис
      h1.service-page__title.wow(data-animation-delay=".1s") Сервис
      .service-page__wrap
        aside.service-page__aside
          a.service-page__aside-item(href="#") Как оформить заказ?
            +icon('ico-serv-order')
          a.service-page__aside-item.is-active(href="#") Способы доставки
            +icon('ico-serv-truck')
          a.service-page__aside-item(href="#") Способы оплаты
            +icon('ico-payment')
          a.service-page__aside-item(href="#") Скидки и бонусы
            +icon('ico-action')
          a.service-page__aside-item(href="#") Обмен/возврат
            +icon('ico-serv-refund')
        .service-page__main
          h2.service-page__subtitle Доставка
          p.service-page__text Для доставки ваших заказов мы выбрали партнеров с самой обширной географией. Курьерская доставка и доставка в пункты выдачи осуществляется по России компаниями <span>СДЭК</span> и <span>IML</span>. Почтой России осуществляется доставка заказов по России и за рубеж.
          p.service-page__text Заказы оформленные на доставку курьером или в пункт выдачи принятые до12:30 по будням, отправляются в день оформления. Остальные на следующих рабочий день. Почтовые заказы отправляются 2 раза в неделю – во вторник и пятницу, за исключением праздничных дней.
          p.service-page__text Вы можете следить за доставкой вашего заказа. Вся необходимая информация будет отправлена в письме на ваш электронный адрес.
          .service-page__accord Курьерская доставка, СДЭК, IML
            +icon('ico-serv-truck')
            +icon('ico-arrow-right')
          .service-page__hidden-item
            h3.service-page__subtitle2 Правила осуществления доставки
            .service-page__list
              h4.service-page__subtitle3 Сроки доставки
              p.service-page__text Сроки доставки указываются при оформлении заказа и носят справочный характер. Срок доставки заказа исчисляется в рабочих днях с первого рабочего дня, следующего за днем получения подтверждения (и/или оплаты) заказа.
              p.service-page__text Нужно принимать во внимание, что сроки доставки могут быть увеличены в связи с неблагоприятными погодными условиями, праздничными днями, специальными мероприятиями.  В декабре месяце сроки доставки могут быть увеличены в разумных пределах. Уведомление о возможном увеличении сроков доставки будет размещено на сайте.
            .service-page__list
              h4.service-page__subtitle3 Курьерская доставка
              p.service-page__text Для доставки доступны заказы весом до 29 кг и с габаритами не превышающими 150 см по сумме трех сторон (ДхШхВ). При превышении одного из параметров заказ комплектуется в две (или более при необходимости) упаковки, что может привести к увеличению стоимости доставки.
              p.service-page__text Заказ весом более 10 кг (объемный или физический) доставляется до подъезда здания.
              p.service-page__text В случае, если заказ не доставлено по вине Покупателя и требуется повторный выезд курьера, взимается дополнительный сбор. Размер сбора зависит от веса заказа и направления доставки.
            .service-page__list
              h4.service-page__subtitle3 Доставка в пункты выдачи
              p.service-page__text Для доставки доступны заказы весом до 29 кг и с габаритами не превышающими 150 см по сумме трех сторон (ДхШхВ). При превышении одного из параметров заказ комплектуется в две (или более при необходимости) упаковки, что может привести к увеличению стоимости доставки.
              p.service-page__text Срок хранения заказа на пункте выдачи 7 календарных дней. Если Покупатель (или его доверенное лицо) не может самостоятельно забрать заказ в течение этого срока, то необходимо связаться с Магазином по телефону или электронной почте. Необходимо сообщить номер заказа, ФИО, а также на какой срок (в пределах 7 дней) необходимо продлить хранение заказа. Также можно изменить или указать дополнительного получателя заказа.
            .service-page__list
              h4.service-page__subtitle3 Почта России
              p.service-page__text Максимальный размер посылок по России – 190 × 130 × 350 см, максимальный вес – 20 кг. Максимальный размер посылок за границу: сумма трех измерений – 300 см, длина –150 см, вес – 30 кг.
            .service-page__list
              h4.service-page__subtitle3 Дополнительно
              p.service-page__text Порядок осуществления доставки а также права и обязанности сторон описаны в Публичной оферте, опубликованной в открытом доступе по ссылке https://mashe-shop.ru/info/oferta
          .service-page__accord Пункты выдачи заказов
            +icon('ico-serv-location')
            +icon('ico-arrow-right')
          .service-page__hidden-item
            h3.service-page__subtitle2 Правила осуществления доставки
            .service-page__list
              h4.service-page__subtitle3 Сроки доставки
              p.service-page__text Сроки доставки указываются при оформлении заказа и носят справочный характер. Срок доставки заказа исчисляется в рабочих днях с первого рабочего дня, следующего за днем получения подтверждения (и/или оплаты) заказа.
              p.service-page__text Нужно принимать во внимание, что сроки доставки могут быть увеличены в связи с неблагоприятными погодными условиями, праздничными днями, специальными мероприятиями.  В декабре месяце сроки доставки могут быть увеличены в разумных пределах. Уведомление о возможном увеличении сроков доставки будет размещено на сайте.
            .service-page__list
              h4.service-page__subtitle3 Курьерская доставка
              p.service-page__text Для доставки доступны заказы весом до 29 кг и с габаритами не превышающими 150 см по сумме трех сторон (ДхШхВ). При превышении одного из параметров заказ комплектуется в две (или более при необходимости) упаковки, что может привести к увеличению стоимости доставки.
              p.service-page__text Заказ весом более 10 кг (объемный или физический) доставляется до подъезда здания.
              p.service-page__text В случае, если заказ не доставлено по вине Покупателя и требуется повторный выезд курьера, взимается дополнительный сбор. Размер сбора зависит от веса заказа и направления доставки.
            .service-page__list
              h4.service-page__subtitle3 Доставка в пункты выдачи
              p.service-page__text Для доставки доступны заказы весом до 29 кг и с габаритами не превышающими 150 см по сумме трех сторон (ДхШхВ). При превышении одного из параметров заказ комплектуется в две (или более при необходимости) упаковки, что может привести к увеличению стоимости доставки.
              p.service-page__text Срок хранения заказа на пункте выдачи 7 календарных дней. Если Покупатель (или его доверенное лицо) не может самостоятельно забрать заказ в течение этого срока, то необходимо связаться с Магазином по телефону или электронной почте. Необходимо сообщить номер заказа, ФИО, а также на какой срок (в пределах 7 дней) необходимо продлить хранение заказа. Также можно изменить или указать дополнительного получателя заказа.
            .service-page__list
              h4.service-page__subtitle3 Почта России
              p.service-page__text Максимальный размер посылок по России – 190 × 130 × 350 см, максимальный вес – 20 кг. Максимальный размер посылок за границу: сумма трех измерений – 300 см, длина –150 см, вес – 30 кг.
            .service-page__list
              h4.service-page__subtitle3 Дополнительно
              p.service-page__text Порядок осуществления доставки а также права и обязанности сторон описаны в Публичной оферте, опубликованной в открытом доступе по ссылке https://mashe-shop.ru/info/oferta
          .service-page__accord Почта России
            +icon('ico-serv-post')
            +icon('ico-arrow-right')
          .service-page__hidden-item.is-active
            h3.service-page__subtitle2 Правила осуществления доставки
            .service-page__list
              h4.service-page__subtitle3 Сроки доставки
              p.service-page__text Сроки доставки указываются при оформлении заказа и носят справочный характер. Срок доставки заказа исчисляется в рабочих днях с первого рабочего дня, следующего за днем получения подтверждения (и/или оплаты) заказа.
              p.service-page__text Нужно принимать во внимание, что сроки доставки могут быть увеличены в связи с неблагоприятными погодными условиями, праздничными днями, специальными мероприятиями.  В декабре месяце сроки доставки могут быть увеличены в разумных пределах. Уведомление о возможном увеличении сроков доставки будет размещено на сайте.
            .service-page__list
              h4.service-page__subtitle3 Курьерская доставка
              p.service-page__text Для доставки доступны заказы весом до 29 кг и с габаритами не превышающими 150 см по сумме трех сторон (ДхШхВ). При превышении одного из параметров заказ комплектуется в две (или более при необходимости) упаковки, что может привести к увеличению стоимости доставки.
              p.service-page__text Заказ весом более 10 кг (объемный или физический) доставляется до подъезда здания.
              p.service-page__text В случае, если заказ не доставлено по вине Покупателя и требуется повторный выезд курьера, взимается дополнительный сбор. Размер сбора зависит от веса заказа и направления доставки.
            .service-page__list
              h4.service-page__subtitle3 Доставка в пункты выдачи
              p.service-page__text Для доставки доступны заказы весом до 29 кг и с габаритами не превышающими 150 см по сумме трех сторон (ДхШхВ). При превышении одного из параметров заказ комплектуется в две (или более при необходимости) упаковки, что может привести к увеличению стоимости доставки.
              p.service-page__text Срок хранения заказа на пункте выдачи 7 календарных дней. Если Покупатель (или его доверенное лицо) не может самостоятельно забрать заказ в течение этого срока, то необходимо связаться с Магазином по телефону или электронной почте. Необходимо сообщить номер заказа, ФИО, а также на какой срок (в пределах 7 дней) необходимо продлить хранение заказа. Также можно изменить или указать дополнительного получателя заказа.
            .service-page__list
              h4.service-page__subtitle3 Почта России
              p.service-page__text Максимальный размер посылок по России – 190 × 130 × 350 см, максимальный вес – 20 кг. Максимальный размер посылок за границу: сумма трех измерений – 300 см, длина –150 см, вес – 30 кг.
            .service-page__list
              h4.service-page__subtitle3 Дополнительно
              p.service-page__text Порядок осуществления доставки а также права и обязанности сторон описаны в Публичной оферте, опубликованной в открытом доступе по ссылке https://mashe-shop.ru/info/oferta
          
  include components/_newsletter