// FOOTER
.footer
  &__topbar
    padding-top: 52px
    padding-bottom: 53px
    display: flex
    flex-direction: row
    justify-content: space-between
  &__subtitle
    margin-top: 0
    margin-bottom: 44px
    font-size: 18px
    font-family: $fontBold
    letter-spacing: 0.03em
    text-transform: uppercase
    color: $btnBgColor
  &__item
    width: 20%
  ul
    margin: 0
    padding: 0
  li
    display: block
    margin-bottom: 17px
    &:last-child
      margin-bottom: 0
  &__link
    font-size: 18px
    font-family: $fontMedium
    color: #9FAFB5
    transition: all $transitionSpeed $ease
    &:hover
      color: $btnBgColor
  &__tel
    font-size: 24px
    line-height: 100%
    font-family: $fontHeavy
    color: $btnBgColor
    display: block
    margin-bottom: 5px
    transition: all $transitionSpeed $ease
    &:hover
      color: $btnBgHover
  &__time
    font-size: 18px
    display: block
    font-family: $fontBook
    color: #B5C3C9
    margin-bottom: 27px
  &__mail
    font-size: 18px
    font-family: $fontBook
    color: $btnBgColor
    transition: all $transitionSpeed $ease
    &:hover
      color: $btnBgHover
  &__socials
    margin-top: 45px
    display: flex
    flex-direction: row
    align-items: center
  &__fb,
  &__vk,
  &__inst
    border-radius: 50%
    margin-right: 6px
    width: 37px
    height: 37px
    border: 2px solid $btnBgColor
    color: $btnBgColor
    display: flex
    justify-content: center
    align-items: center
    transition: all $transitionSpeed $ease
    &:hover
      border-color: #9FAFB5
  &__bottombar
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    padding-top: 31px
    padding-bottom: 50px
    border-top: 1px solid $primary2Color
  &__copy,
  &__dev
    color: #B5C3C9
    font-size: 16px
    font-family: $fontBook
  &__dev
    padding-right: 95px
    position: relative
    display: block
    &:after
      content: ''
      position: absolute
      top: -5px
      right: 0
      background-repeat: no-repeat
      background-image: url(../../img/dev-icon.svg)
      width: 89px
      height: 21px
    
+r($wide)
  .footer
    &__subtitle
      font-size: 17px
      margin-bottom: 34px
    li
      margin-bottom: 13px
    &__link
      font-size: 17px
    &__tel
      font-size: 19px
      
+r($desktop)
  .footer
    &__topbar
      flex-wrap: wrap
      padding-bottom: 33px
    &__item
      width: 25%
      text-align: center
      &--contacts
        width: 100%
        text-align: center
        margin-top: 50px
        padding-top: 20px
        border-top: 2px solid #B5C3C9
    &__subtitle
      margin-bottom: 25px
    &__tel
      font-size: 24px
    &__socials
      margin-top: 15px
      text-align: center
      justify-content: center
    &__bottombar
      flex-direction: column
      justify-content: center
    &__copy
      margin-bottom: 30px
