// MAIN SLIDER SECTION
.main-slider
  .slick-dots
    bottom: 170px
  &__slide
    background-repeat: no-repeat
    background-size: cover
    background-position: 50% 50%
    padding-top: 186px
    padding-bottom: 290px
    text-align: center
    &:hover
      cursor: url(../../img/my-cursor.png), grab
    &--first
      background-image: url(../../img/main-slide.jpg)
    &--second
      background-image: url(../../img/main-slide2.jpg)
  &__subtitle
    text-transform: uppercase
    font-size: 24px
    position: relative
    font-family: $fontHeavy
    color: $textColor
    &:before,
    &:after
      content: ''
      position: absolute
      top: 50%
      transform: translateY(-50%)
      background-repeat: no-repeat
      background-image: url(../../img/wave.svg)
      width: 109px
      height: 8px
      background-size: 100%
    &:before
      left: -70%
    &:after
      right: -70%
  &__title
    text-transform: uppercase
    text-align: center
    font-size: 60px
    letter-spacing: 0.05em
    color: $btnBgColor
    font-family: $fontBold
    margin-top: 5px
    margin-bottom: 22px
  &__descr
    margin-top: 0
    margin-bottom: 55px
    font-size: 24px
    color: $btnBgColor
    font-family: $fontBold
  &__btn
    display: inline-block
    padding: 16px 44px
    font-size: 14px
    letter-spacing: 0.05em
    text-decoration: none
    background-color: $btnBgColor
    color: #fff
    border-radius: 30px
    text-transform: uppercase
    font-family: $fontDemi
    transition: all $transitionSpeed $ease
    &:hover
      background-color: $btnBgHover
      box-shadow: 0 0 0 2px $btnBgHover
    
    
// ADVANTAGES SECTION
.advantages
  margin-top: -122px
  padding-bottom: 105px
  &__wrap
    display: flex
    flex-direction: row
    align-items: stretch
    justify-content: space-between
    margin-left: -8px
    margin-right: -8px
  &__item
    background-color: #fff
    padding: 35px 30px
    padding-bottom: 50px
    text-align: center
    margin-left: 8px
    margin-right: 8px
    width: calc(20% - 16px)
    position: relative
    z-index: 2
  &__title
    margin-top: 0
    margin-bottom: 22px
    position: relative
    font-size: 16px
    text-transform: uppercase
    font-family: $fontBold
    color: $btnBgColor
    padding-top: 110px
    letter-spacing: 0.05em
    svg
      font-size: 70px
      color: $primaryColor
      position: absolute
      top: 0
      left: 50%
      transform: translateX(-50%)
      &.ico-scissors
        font-size: 80px
      &.ico-medal
        font-size: 90px
      &.ico-truck
        font-size: 65px
        top: 10px
      &.ico-card
        top: 10px
      &.ico-
  &__descr
    font-size: 18px
    margin: 0
    font-family: $fontBook
    color: $textColor
    position: relative
    padding-top: 33px
    img
      position: absolute
      top: 0
      left: 50%
      transform: translateX(-50%)
    
    
// MASTERPIECE SECTION
.masterpiece
  //padding-top: 105px
  padding-bottom: 85px
  text-align: center
  background-color: $bgColor
  > .container
    position: relative
    &:before
      content: ''
      position: absolute
      bottom: -170px
      left: -70px
      background-repeat: no-repeat
      background-image: url(../../img/stamp.svg)
      width: 170px
      height: 170px
  &__title
    font-size: 36px
    margin-top: 0
    font-family: $fontBold
    color: $btnBgColor
    margin-bottom: 5px
    text-align: center
    text-transform: uppercase
    letter-spacing: 0.05em
    span
      position: relative
      &:before,
      &:after
        content: ''
        position: absolute
        top: 80%
        background-repeat: no-repeat
        background-image: url(../../img/wave-title.svg)
        width: 180px
        height: 12px
        background-size: 100%
      &:before
        left: -55%
      &:after
        right: -55%
  &__subtitle
    margin-top: 0
    margin-bottom: 60px
    font-size: 24px
    text-align: center
    font-family: $fontHeavy
    color: $btnBgColor
  &__wrap
    display: flex
    flex-direction: row
    align-items: stretch
    justify-content: space-between
    flex-wrap: wrap
    margin-left: -13px
    margin-right: -13px
    margin-bottom: 35px
  &__item
    width: calc(33.33% - 26px)
    background-color: $primary2Color
    margin-left: 13px
    margin-right: 13px
    margin-bottom: 25px
    padding: 25px
    position: relative
    transition: all $transitionSpeed $ease
    &--photo
      background-repeat: no-repeat
      background-size: 100% 100%
      background-position: 50% 50%
      .masterpiece__title-wrap
        background-color: #fff
      .masterpiece__item-amount
        color: $primaryColor
      &:nth-child(1)
        background-image: url(../../img/catalog1.png)
      &:nth-child(3)
        background-image: url(../../img/catalog2.png)
      &:nth-child(5)
        background-image: url(../../img/catalog3.png)
    &:nth-child(4),
    &:nth-child(6)
      background-color: $primaryColor
      .masterpiece__item-title
        svg
         color: #fff
      .masterpiece__descr
        color: $btnBgColor
      .masterpiece__item-amount
        svg
          position: absolute
          top: 50%
          transform: translateY(-42%)
          width: 40px
          height: 7px
          color: #fff
          &:first-child
            left: -70%
          &:last-child
            right: -70%
      &:hover
        background-color: #FFBFB5
    &:nth-child(2)
      .masterpiece__item-title
        svg
          transition: all $transitionSpeed $ease
          color: #B1BABE
      .masterpiece__descr
        color: $btnBgColor
      .masterpiece__item-amount
        color: $textColor
        svg
          position: absolute
          top: 50%
          transform: translateY(-42%)
          width: 40px
          height: 7px
          color: #A4AEB2
          &:first-child
            left: -70%
          &:last-child
            right: -70%
      &:hover
        background-color: #D0D8DB
        .masterpiece__item-amount
          color: #fff
          svg
            color: #fff
        .masterpiece__item-title
          svg
           color: #fff
          
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6)
      &:before
        content: ''
        position: absolute
        width: calc(100% - 50px)
        height: calc(100% - 50px)
        left: 25px
        top: 25px
        border: 2px solid #fff
    &:nth-child(1),
    &:nth-child(3),
    &:nth-child(5)
      .masterpiece__descr
        font-family: $fontBook
      .masterpiece__item-amount
        svg
          position: absolute
          top: 50%
          transform: translateY(-42%)
          width: 40px
          height: 7px
          color: #ffdad5
          &:first-child
            left: -70%
          &:last-child
            right: -70%
      &:before
        opacity: 0
        content: ''
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        z-index: 1
        background-color: rgba(0,0,0,0.2)
        transition: all $transitionSpeed $ease
      &:hover
        background-size: 105% 105%
        &:before
          opacity: 1
    &:hover
      .masterpiece__item-title
        svg
          transform: translateX(-50%) scale(1.05)
  &__title-wrap
    max-width: 340px
    margin-left: auto
    margin-right: auto
    padding: 20px
    text-align: center
    margin-bottom: 25px
    margin-top: 165px
    position: relative
    z-index: 2
  &__item-title
    font-size: 24px
    font-family: $fontBold
    margin-top: 0
    margin-bottom: 8px
    letter-spacing: 0.05em
    text-transform: uppercase
    color: $btnBgColor
    position: relative
    img,
    svg
      font-size: 90px
      position: absolute
      top: -140px
      left: 50%
      transform: translateX(-50%)
  &__item-amount
    transition: all $transitionSpeed $ease
    font-size: 22px
    font-family: $fontMedium
    position: relative
    color: #fff
    //&:before,
    //&:after
      content: ''
      position: absolute
      top: 50%
      transform: translateY(-50%)
      background-repeat: no-repeat
      width: 39px
      height: 5px
      background-size: auto 100%
  &__descr
    color: #fff
    font-size: 20px
    font-family: $fontMedium
    text-align: center
    margin: 0 auto
    margin-bottom: 40px
    max-width: 280px
    position: relative
    z-index: 2
    
  &__btn
    display: inline-block
    padding: 16px 66px 16px 42px
    font-size: 14px
    letter-spacing: 0.05em
    text-decoration: none
    background-color: $btnBgColor
    color: #fff
    border-radius: 30px
    text-transform: uppercase
    font-family: $fontDemi
    transition: all $transitionSpeed $ease
    position: relative
    &:hover
      background-color: $btnBgHover
      box-shadow: 0 0 0 2px $btnBgHover
      svg
        transform: translate(7px, -50%)
    svg
      font-size: 12px
      position: absolute
      transition: all $transitionSpeed $ease
      top: 50%
      right: 40px
      transform: translate(0, -50%)
    
    
// POPULAR SECTION
.popular
  padding-top: 105px
  padding-bottom: 60px
  margin-bottom: 60px
  text-align: center
  &__title
    font-size: 36px
    margin-top: 0
    font-family: $fontBold
    color: $btnBgColor
    margin-bottom: 5px
    text-align: center
    text-transform: uppercase
    letter-spacing: 0.05em
    span
      position: relative
      &:before,
      &:after
        content: ''
        position: absolute
        top: 80%
        background-repeat: no-repeat
        background-image: url(../../img/wave-title.svg)
        width: 180px
        height: 12px
        background-size: 100%
      &:before
        left: -55%
      &:after
        right: -55%
  &__subtitle
    margin-top: 0
    margin-bottom: 60px
    font-size: 24px
    text-align: center
    font-family: $fontHeavy
    color: $btnBgColor
  &__wrap
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: stretch
    .slick-prev,
    .slick-next
      top: -130px
    .slick-dots
      bottom: -60px
    
.catalog-item
  text-decoration: none
  display: block
  width: calc(25% - 14px)
  margin-left: 7px
  margin-right: 7px
  box-shadow: inset 0 0px 0 2px #f5f5f5
  &:hover
    .catalog-item__descr
      visibility: visible
      opacity: 1
      p
        transform: translateX(0)
    .catalog-item__special
      background-color: $btnBgColor
      p
        color: #FFEDED
      &--wait
        background-color: $waitColor
        p
          color: #fff
      &--sale
        background-color: $saleColor
        p
          display: none
        .inside-link
          display: inline-block
      &--action
        background-color: $actionColor
        p
          display: none
        .inside-link
          display: inline-block
  &__photo
    min-height: 340px
    margin-bottom: 17px
    position: relative
    img
      display: block
      width: 100%
      min-height: 100%
  &__descr
    padding: 25px
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(255,255,255, 0.9)
    z-index: 2
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    opacity: 0
    visibility: hidden
    transition: all $transitionSpeed $ease
    p
      transition: all $transitionSpeed $ease
      transform: translateY(20px)
      font-size: 18px
      font-family: 
      line-height: 140%
      margin-bottom: 20px
      color: #707070
      &:last-child
        margin-bottom: 0
  &__badge
    position: absolute
    top: 27px
    left: 0
    font-size: 12px
    letter-spacing: 0.05em
    text-transform: uppercase
    font-family: $fontBold
    color: #fff
    text-align: center
    padding: 12px 30px 12px 25px
    border-top-right-radius: 20px
    border-bottom-right-radius: 20px
    max-width: 145px
    &--hit
      background-color: $hitColor
    &--action
      background-color: $actionColor
    &--wait
      background-color: $waitColor
      text-align: left
      border-top-right-radius: 25px
      border-bottom-right-radius: 25px
    &--new
      background-color: $newColor
    &--sale
      background-color: $saleColor
  &__title
    margin-top: 0
    margin-bottom: 20px
    padding: 0 37px
    font-size: 26px
    font-weight: 400
    line-height: 100%
    color: $btnBgColor
    font-family: $fontDemi
    min-height: 52px
    transition: all $transitionSpeed $ease
    &:hover
      color: transparentize($btnBgColor, 0.3)
  &__info
    padding-bottom: 20px
    position: relative
    padding-left: 37px
    padding-right: 37px
    &:before
      content: ''
      position: absolute
      bottom: 0
      left: 37px
      height: 2px
      width: calc(100% - 74px)
      background-color: $primary2Color
    &-item
      font-size: 18px
      margin-bottom: 3px
      font-family: $fontBook
      color: $textColor
      span
        color: $btnBgColor
        margin-left: 5px
        
  &__wrap
    display: flex
    flex-direction: row
    align-items: center
    padding: 16px 37px 24px 37px
  &__price
    font-size: 36px
    letter-spacing: -0.05em
    font-family: 
    line-height: 80%
    margin-right: auto
    text-align: left
    position: relative
    font-family: $fontMedium
    color: $btnBgColor
    svg
      font-size: 22px
  &__old-price
    position: absolute
    top: -22px
    left: 5px
    font-size: 16px
    color: $saleColor
    svg
      font-size: 10px
  &__tobag,
  &__like
    display: flex
    justify-content: center
    align-items: center
    width: 52px
    height: 52px
    border-radius: 50%
    transition: all $transitionSpeed $ease
    color: $btnBgColor
    font-size: 20px
    .ico-envelope
      font-size: 16px
  &__tobag
    background-color: $primary2Color
    &:hover
      background-color: $primary2Hover
      box-shadow: 0 0 0 2px $primary2Hover
  &__like
    background-color: $primaryColor
    margin-left: 8px
    &:hover
      background-color: $primaryHover
      box-shadow: 0 0 0 2px $primaryHover
  &__special
    background-color: #F5F5F5
    padding: 11px 27px 13px 27px
    transition: all $transitionSpeed $ease
    min-height: 46px
    display: flex
    justify-content: center
    align-items: center
    .inside-link
      display: none
      color: #fff
      transition: all $transitionSpeed $ease
      font-size: 14px
      font-family: $fontBook
      text-decoration: none
      border-bottom: 1px solid #fff
      &:hover
        border-color: transparent
    svg
      transition: none
      font-size: 11px
    p
      margin: 0
      font-size: 14px
      font-family: $fontBook
      color: transparentize($btnBgColor, 0.3)
      border-bottom: 2px solid transparent
      display: inline-block
      vertical-align: middle
    span
      display: inline-block
      vertical-align: middle
    &-price
      letter-spacing: -0.05em
      font-size: 18px
      margin-right: 4px
      
      
// EXAMPLES SECTION
.examples
  padding-top: 185px
  padding-bottom: 100px
  position: relative
  text-align: center
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 170px
    background-repeat: no-repeat
    background-size: 100%
    background-image: url(../../img/wave-stamp.svg)
  &__title
    display: inline-block
    vertical-align: middle
    font-size: 28px
    font-family: $fontBold
    margin-top: 0
    margin-bottom: 40px
    padding: 15px
    background-color: #FFEDE9
    text-transform: uppercase
    letter-spacing: 0.05em
    width: 530px
    color: $btnBgColor
  &__subtitle
    font-size: 20px
    margin-top: 0
    margin-bottom: 56px
    max-width: 830px
    margin-left: auto
    margin-right: auto
    font-weight: 400
    font-family: $fontBook
    line-height: 140%
    color: #707070
  &__wrap
    display: flex
    flex-direction: row
    align-items: stretch
    justify-content: space-between
  &__item
    padding: 40px 34px 30px 34px
    border: 2px solid #f5f5f5
    margin-left: 6px
    margin-right: 6px
    width: calc(25% - 12px)
    text-align: center
    display: flex
    flex-direction: column
    &:hover
      img
        transform: scale(1.05)
  &__photo
    position: relative
    margin-bottom: 29px
    border-radius: 50%
    //min-height: 262px
    display: flex
    justify-content: center
    //align-items: stretch
    img
      display: block
      height: auto
      width: 100%
      object-fit: contain
      border-radius: 50%
      transition: all $transitionSpeed $ease
  &__btn
    border-radius: 50%
    background-color: $primary2Color
    border: 5px solid #fff
    width: 75px
    height: 75px
    display: flex
    justify-content: center
    align-items: center
    transition: all $transitionSpeed $ease
    position: absolute
    bottom: 0
    right: 0
    color: $btnBgColor
    font-size: 22px
    img
      width: 42px
      height: 22px
    &:hover
      background-color: $primary2Hover
  &__item-title
    margin-top: 0
    margin-bottom: 26px
    line-height: 100%
    font-size: 26px
    font-family: $fontDemi
    transition: all $transitionSpeed $ease
    color: $btnBgColor
    &:hover
      color: transparentize($btnBgColor, 0.3)
  &__size
    font-size: 16px
    margin-bottom: 30px
    color: $btnBgColor
    margin-top: auto
  &__price
    font-size: 36px
    font-family: $fontMedium
    position: relative
    color: $btnBgColor
    padding-top: 25px
    letter-spacing: -0.05em
    svg
      font-size: 22px
    &:before
      content: ''
      position: absolute
      top: 0
      left: 50%
      transform: translateX(-50%)
      background-repeat: no-repeat
      background-image: url(../../img/wave-pink.svg)
      background-size: auto 100%
      width: 92px
      height: 8px
    
    
// CLIENTS SECTION
.clients
  padding-top: 115px
  padding-bottom: 115px
  background-color: #FFEDE9
  text-align: center
  &__title
    font-size: 36px
    margin-top: 0
    font-family: $fontBold
    color: $btnBgColor
    margin-bottom: 5px
    text-align: center
    text-transform: uppercase
    letter-spacing: 0.05em
    span
      position: relative
      &:before,
      &:after
        content: ''
        position: absolute
        top: 80%
        background-repeat: no-repeat
        background-image: url(../../img/wave-title-w.svg)
        width: 180px
        height: 12px
        background-size: 100%
      &:before
        left: -55%
      &:after
        right: -55%
  &__subtitle
    margin-top: 0
    margin-bottom: 35px
    font-size: 24px
    text-align: center
    color: $btnBgColor
    font-family: $fontHeavy
  &__wrap
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: stretch
    margin-left: -14px
    margin-right: -14px
    margin-bottom: 50px
    .slick-track,
    .slick-list
      display: flex !important
      align-items: stretch
    .slick-prev,
    .slick-next
      top: -110px
      background-color: #FFEDE9
      border: 3px solid #fff
      &:hover
        border-color: $btnBgColor
        transform: scale(1.05)
  &__item
    display: flex !important
    flex-direction: column
    width: calc(33% - 28px)
    margin-left: 14px
    margin-right: 14px
    background-color: #fff
    background-image: linear-gradient(to bottom, #FFEDE9 65px, #fff 65px, #fff 100%)
    padding: 10px 50px 48px 50px
    &:hover
      .clients__photo
        transform: scale(1.05)
  &__photo
    width: 130px
    height: 130px
    border-radius: 50%
    margin-left: auto
    margin-right: auto
    transition: all $transitionSpeed $ease
    margin-bottom: 33px
    img
      display: block
      height: 100%
      width: 100%
      border-radius: 50%
  &__text
    font-size: 20px
    line-height: 150%
    font-family: $fontBook
    margin-top: 0
    margin-bottom: 45px
    margin-left: 0
    margin-right: 0
    color: #707070
  &__name
    display: block
    font-style: normal
    font-size: 24px
    font-family: $fontMedium
    margin-top: auto
    padding-top: 80px
    position: relative
    margin-bottom: 3px
    color: $btnBgColor
    &:before
      content: ''
      position: absolute
      top: 0
      left: 50%
      transform: translateX(-50%)
      background-repeat: no-repeat
      background-image: url(../../img/quotes-big.svg)
      width: 250px
      height: 34px
      background-size: auto 100%
  &__pos
    font-size: 18px
    font-family: $fontBook
    color: #B5C3C9
    
  &__btn
    display: inline-block
    padding: 16px 44px
    font-size: 14px
    letter-spacing: 0.05em
    text-decoration: none
    background-color: $btnBgColor
    color: #fff
    border-radius: 30px
    text-transform: uppercase
    font-family: $fontDemi
    transition: all $transitionSpeed $ease
    &:hover
      background-color: $btnBgHover
      box-shadow: 0 0 0 2px $btnBgHover
    
    
// PHOTOS SECTION
.photos
  display: flex !important
  flex-direction: row
  align-items: stretch
  justify-content: space-between
  .slick-list,
  .slick-track
    display: flex !important
    align-items: stretch !important
  a
    display: block
    text-decoration: none
    width: 14.3%
    transition: all $transitionSpeed $ease
    &:hover
      opacity: 0.8
      cursor: url(../../img/my-cursor.png), grab
  &__item
    display: block
    height: 100%
    min-height: 100%
    width: 100%
    
// NEWSLETTER SECTION
.newsletter
  padding-top: 48px
  padding-bottom: 52px
  background-color: #F0F1F2
  position: relative
  overflow: hidden
  &:before
    content: ''
    position: absolute
    bottom: 0
    left: 0
    background-repeat: no-repeat
    background-image: url(../../img/mailing.svg)
    background-size: 100%
    background-position: 0 100%
    width: calc(50% - 50px)
    height: 144px
    z-index: 1
  &__wrap
    display: flex
    flex-direction: row
    justify-content: space-between
    position: relative
    z-index: 2
  &__info
    width: 40%
  &__form
    width: 60%
    text-align: right
  &__title
    font-size: 24px
    font-family: $fontBold
    margin-top: 7px
    text-transform: uppercase
    color: $btnBgColor
    margin-bottom: 8px
  &__subtitle
    font-size: 18px
    font-family: $fontHeavy
    margin: 0
    color: $btnBgColor
  &__form-wrap
    max-width: 535px
    margin-left: auto
    position: relative
    margin-bottom: 18px
    &--error
      .newsletter__error
        display: block
      .newsletter__input
        color: #F0827D
  &__input
    text-align: left
    border: 1px solid transparent
    border-radius: 20px
    display: block
    width: 100%
    background-color: #fff
    padding: 10px 33px
    font-size: 18px
    font-family: $fontBook
    color: $btnBgColor
    transition: all $transitionSpeed $ease
    &:focus
      border-color: #DEDEDE
  &__btn
    position: absolute
    top: 0
    right: 0
    font-size: 14px
    padding: 13px 42px
    text-align: center
    text-transform: uppercase
    border: 0
    background-color: $btnBgColor
    color: #fff
    font-family: $fontDemi
    letter-spacing: 0.05em
    border-radius: 20px
    transition: all $transitionSpeed $ease
    &:hover
      background-color: $btnBgHover
  &__error
    display: none
    text-align: left
    font-size: 16px
    font-family: $fontMedium
    color: #F0827D
    margin-top: 10px
  &__text
    font-size: 16px
    margin: 0
    font-family: $fontBook
    color: $textColor
  &__link
    text-decoration: none
    color: $btnBgColor
    margin-left: 4px
    border-bottom: 1px solid transparent
    transition: all $transitionSpeed $ease
    &:hover
      border-color: $btnBgColor
    
    
@media(max-width: 1600px)
  .main-slider
    &__slide
      padding-top: 136px
      padding-bottom: 240px
    
+r($wide)
  .advantages
    padding-bottom: 75px
    .container
      overflow-x: scroll
    &__wrap
      position: relative
      left: 50%
      transform: translateX(-50%)
      min-width: 1110px
      margin-left: auto
      margin-right: auto
    //&__item
      min-width: 205px
  .masterpiece
    padding-bottom: 75px
    &__descr
      padding-left: 15px
      padding-right: 15px
    &__item
      &-title
        font-size: 22px
      &-amount
        font-size: 20px
    &__descr
      font-size: 18px
  .catalog-item
    &__special
      padding-left: 21px
      padding-right: 21px
  .popular
    padding-top: 75px
  .examples
    padding-top: 155px
    padding-bottom: 75px
    &__photo
      max-width: 265px
      margin-left: auto
      margin-right: auto
    &__item
      width: calc(33.33% - 12px)
      &:last-child
        display: none
  .clients
    padding-top: 75px
    padding-bottom: 75px
    &__item
      padding: 0 25px 48px 25px
      
+r($desktop)
  .main-slider
    .slick-dots
      bottom: 125px
    &__slide
      padding-top: 85px
      padding-bottom: 195px
      background-image: url(../../img/main-slide-ipad.jpg)
    &__subtitle
      font-size: 16px
      &:before
        left: -110%
      &:after
        right: -110%
    &__title
      font-size: 36px
    &__descr
      font-size: 20px
      max-width: 350px
      margin-left: auto
      margin-right: auto
      margin-bottom: 40px
    &__btn
      padding: 16px 30px
      
  .advantages
    margin-top: -102px
    padding-bottom: 85px
    &__item
      padding: 30px 25px 40px 25px
    &__title
      padding-top: 85px
      margin-bottom: 14px
      svg.ico
        font-size: 65px
    &__descr
      font-size: 16px
      padding-top: 27px
      
  .masterpiece
    padding-bottom: 95px
    > .container
      &:before
        display: none
    &__subtitle
      margin-bottom: 45px
    &__wrap
      flex-wrap: wrap
      margin-left: -10px
      margin-right: -10px
      margin-bottom: 25px
    &__item
      width: calc(50% - 20px)
      margin-left: 10px
      margin-right: 10px
      padding: 20px
      &-title
        svg,
        img
          height: 80px
          top: -100px
    &__title-wrap
      margin-top: 110px
      margin-bottom: 13px
    &__descr
      margin-bottom: 20px
    &__btn
      padding: 16px 54px 16px 34px
      svg
        right: 30px
      
  .popular
    padding-top: 40px
    &__subtitle
      margin-bottom: 45px
    &__wrap
      margin-left: -9px
      margin-right: -9px
      .slick-dots
        width: 100%
        bottom: -50px
      
  .catalog-item
    width: calc(25% - 18px);
    margin-left: 9px;
    margin-right: 9px;
    &__photo
      min-height: 30px
      max-height: 330px
      overflow: hidden
      img
        max-height: 100%
    &__info
      padding-top: 15px
  .examples
    padding-top: 70px
    padding-bottom: 65px
    &:before
      height: 70px
      top: -30px
      width: 150%
    &__wrap
      flex-wrap: wrap
      margin-left: -10px
      margin-right: -10px
    &__item
      width: calc(50% - 20px)
      margin-left: 10px
      margin-right: 10px
      margin-bottom: 20px
      &:last-child
        display: block
      
  .clients
    padding-top: 115px
    padding-bottom: 115px
    &__wrap
      width: calc(100% + 60px)
      margin-left: -30px
      
  .newsletter
    overflow: hidden
    &:before
      background-position: 0 50%
      background-size: contain
      background-image: url(../../img/news-left.svg)
      left: 0
      bottom: 0
      width: 30%
      height: 80%
    &:after
      content: ''
      position: absolute
      right: -100px
      bottom: -60px
      width: 30%
      height: 80%
      background-repeat: no-repeat
      background-image: url(../../img/news-right.svg)
    &__wrap
      flex-direction: column
    &__info
      width: 100%
      padding-bottom: 105px
      position: relative
      &:after
        content: ''
        position: absolute
        bottom: 50px
        left: 50%
        transform: translateX(-50%)
        background-repeat: no-repeat
        background-image: url(../../img/wave-title.svg)
        width: 180px
        height: 12px
        background-size: 100%
    &__form
      width: 100%
    &__title
      font-size: 32px
      text-align: center
      margin-top: 20px
    &__subtitle
      text-align: center
    &__form-wrap
      margin-left: auto
      margin-right: auto
      max-width: 400px
      text-align: center
      margin-bottom: 38px
    &__input
      margin-bottom: 33px
      text-align: center
      padding: 15px 33px
    &__btn
      position: static
      padding: 17px 42px
      border-radius: 30px
      margin-bottom: 0
    &__text
      max-width: 315px
      margin-left: auto
      margin-right: auto
      text-align: center
      
+r($tablet)
  .main-slider
    &__subtitle
      padding-bottom: 20px
      &:after
        display: none
      &:before
        top: 32px
        left: 50%
        transform: translateX(-50%)
    &__title
      margin-top: 43px
      margin-bottom: 50px
    &__slide
      padding-bottom: 175px
      
  .masterpiece
    &__title
      padding-bottom: 50px
      span
        width: 100%
        display: block
        &:after
          display: none
        &:before
          top: auto
          left: 50%
          bottom: -30px !important
          transform: translateX(-50%)
    &__wrap
      margin-left: 0
      margin-right: 0
    &__item
      width: 100%
      margin-left: 0
      margin-right: 0
      
  .popular
    &__title
      padding-bottom: 50px
      span
        width: 100%
        display: block
        &:after
          display: none
        &:before
          top: auto
          left: 50%
          bottom: -30px !important
          transform: translateX(-50%)
        
    .catalog-item
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8)
        display: none
      
  .examples
    &__title
      width: 100%
      max-width: 530px
      font-size: 24px
      padding-left: 10px
      padding-right: 10px
    &__wrap
      margin-left: 0
      margin-right: 0
      .slick-dots
        width: 100%
        margin: 0
        padding: 0
        position: absolute
        bottom: -25px
        left: 50%
        transform: translateX(-50%)
        button
          padding: 0
          font-size: 0
          width: 37px
          height: 4px
          background-color: #E6E6E6
          margin-left: 6px
          margin-right: 6px
          transition: all $transitionSpeed $ease
        li.slick-active button
          background-color: $btnBgColor
    &__item
      width: 100%
      margin-left: 0
      margin-right: 0
      
  .clients
    padding-top: 65px
    padding-bottom: 85px
    &__wrap
      margin-bottom: 100px
    &__title
      margin-bottom: 50px
      span
        width: 100%
        display: block
        &:after
          display: none
        &:before
          top: auto
          left: 50%
          bottom: -30px !important
          transform: translateX(-50%)
    .slick-dots
      width: 100%
      margin: 0
      padding: 0
      position: absolute
      bottom: -55px
      left: 50%
      transform: translateX(-50%)
      button
        padding: 0
        font-size: 0
        width: 37px
        height: 4px
        background-color: #fff
        margin-left: 6px
        margin-right: 6px
        transition: all $transitionSpeed $ease
      li.slick-active button
        background-color: $btnBgColor
      
  .newsletter
    &__info
      padding-bottom: 50px
      &:after
        display: none
    &__title
      position: relative
      margin-bottom: 50px
      &:before
        content: ''
        position: absolute
        bottom: -30px
        left: 50%
        transform: translateX(-50%)
        background-repeat: no-repeat
        background-image: url(../../img/wave-title.svg)
        width: 180px
        height: 12px
        background-size: 100%