.ico-action {
  width: 0.68em;
  height: 1em;
  fill: #FFDAD4;
}
.ico-arrow-button {
  width: 1.08em;
  height: 1em;
  fill: #FFF;
}
.ico-arrow-left {
  width: 0.65em;
  height: 1em;
  fill: #353535;
}
.ico-arrow-right {
  width: 0.65em;
  height: 1em;
  fill: #353535;
}
.ico-bag {
  width: 0.85em;
  height: 1em;
  fill: #353535;
}
.ico-bag2 {
  width: 0.79em;
  height: 1em;
  fill: #FFDAD4;
}
.ico-card {
  width: 1.12em;
  height: 1em;
  fill: #FFDAD4;
}
.ico-care1 {
  width: 1.45em;
  height: 1em;
  fill: #353535;
}
.ico-care2 {
  width: 1.05em;
  height: 1em;
  fill: #353535;
}
.ico-care3 {
  width: 0.82em;
  height: 1em;
  fill: #353535;
}
.ico-care4 {
  width: 1em;
  height: 1em;
  fill: #353535;
}
.ico-care5 {
  width: 1.17em;
  height: 1em;
  fill: #353535;
}
.ico-care6 {
  width: 0.77em;
  height: 1em;
  fill: #353535;
}
.ico-care7 {
  width: 1.03em;
  height: 1em;
  fill: #353535;
}
.ico-check {
  width: 1.33em;
  height: 1em;
  fill: #353535;
}
.ico-close {
  width: 0.95em;
  height: 1em;
  fill: #353535;
}
.ico-contact-data {
  width: 1.34em;
  height: 1em;
  fill: #FFDAD4;
}
.ico-descr {
  width: 1.13em;
  height: 1em;
  fill: #353535;
}
.ico-dev-icon {
  width: 4.24em;
  height: 1em;
  fill: #B5C3C9;
}
.ico-envelope {
  width: 1.44em;
  height: 1em;
  fill: #fff;
}
.ico-fb {
  width: 0.46em;
  height: 1em;
  fill: #353535;
}
.ico-for-decor {
  width: 1.84em;
  height: 1em;
  fill: #B1BABE;
}
.ico-for-embr {
  width: 0.98em;
  height: 1em;
  fill: #B1BABE;
}
.ico-for-felt {
  width: 1.25em;
  height: 1em;
  fill: #FFF;
}
.ico-for-flower {
  width: 0.71em;
  height: 1em;
  fill: #B1BABE;
}
.ico-for-paint {
  width: 1.05em;
  height: 1em;
  fill: #B1BABE;
}
.ico-for-stitch {
  width: 1.46em;
  height: 1em;
  fill: #B1BABE;
}
.ico-gift {
  width: 1.17em;
  height: 1em;
  fill: #FFDAD4;
}
.ico-heart {
  width: 1.1em;
  height: 1em;
  fill: #353535;
}
.ico-info {
  width: 1.03em;
  height: 1em;
  fill: #B1BABE;
}
.ico-inst {
  width: 1em;
  height: 1em;
  fill: #353535;
}
.ico-logo-big {
  width: 3.39em;
  height: 1em;
  fill: #353535;
}
.ico-logo {
  width: 3.22em;
  height: 1em;
  fill: #353535;
}
.ico-mailing {
  width: 7.13em;
  height: 1em;
  fill: #B5BEC2;
}
.ico-medal {
  width: 0.82em;
  height: 1em;
  fill: #FFDAD4;
}
.ico-menu {
  width: 1.05em;
  height: 1em;
  fill: #FFF;
}
.ico-nav {
  width: 1.05em;
  height: 1em;
  fill: #707070;
}
.ico-not-found-face {
  width: 1em;
  height: 1em;
  fill: #E8E8E8;
}
.ico-pay-bill {
  width: 0.83em;
  height: 1em;
  fill: #FFDAD4;
}
.ico-pay-card {
  width: 1.47em;
  height: 1em;
  fill: #FFDAD4;
}
.ico-pay-nal {
  width: 1.27em;
  height: 1em;
  fill: #FFDAD4;
}
.ico-payment {
  width: 1.14em;
  height: 1em;
  fill: #FFDAD4;
}
.ico-play {
  width: 0.75em;
  height: 1em;
  fill: #353535;
}
.ico-quotes {
  width: 1.26em;
  height: 1em;
  fill: #353535;
}
.ico-ruble {
  width: 0.76em;
  height: 1em;
  fill: #333;
}
.ico-scissors {
  width: 1.06em;
  height: 1em;
  fill: #FFDAD4;
}
.ico-search-arrow {
  width: 1.48em;
  height: 1em;
  fill: #353535;
}
.ico-search {
  width: 1.23em;
  height: 1em;
  fill: #fff;
}
.ico-share {
  width: 0.93em;
  height: 1em;
  fill: #353535;
}
.ico-stamp {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-tel {
  width: 1em;
  height: 1em;
  fill: #353535;
}
.ico-totop {
  width: 0.64em;
  height: 1em;
  fill: #353535;
}
.ico-truck {
  width: 1.61em;
  height: 1em;
  fill: #FFDAD4;
}
.ico-vk {
  width: 1.78em;
  height: 1em;
  fill: #353535;
}
.ico-wave-pink {
  width: 6.83em;
  height: 1em;
  fill: #F0C2BB;
}
.ico-wave-title {
  width: 15.08em;
  height: 1em;
  fill: #F5F5F5;
}
.ico-wave-vertical {
  width: 0.02em;
  height: 1em;
  fill: #C4C4C4;
}
.ico-wave {
  width: 13.63em;
  height: 1em;
  fill: #9E9E9E;
}
